{% extends "base/side_bar.html" %}
{% block title %} Add Subscription Plan {% endblock title %}
{% block page_name %}Add Subscription Plan{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class="form-main">
        <form method="POST" id="planForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label for="name">Name <span id="required_star">*</span></label>
                    <input type="text" name="name" id="name" />
                    <span id="name_message" style="color: red; font-weight: bold"></span>
                </div>

                <div class="col-md-4 f-mail mt-4">
                    <label for="price">Price <span id="required_star">*</span></label>
                    <input type="number" name="price" id="price" value="{{ plan_obj.price }}" />
                    <span id="price_message" style="color: red; font-weight: bold"></span>
                </div>

                <div class="col-md-4 f-name mt-4">
                    <label for="plan_type">Plan Type <span id="required_star">*</span></label>
                    <select name="plan_type" id="plan_type" class="form-control">
                        <option value="" selected>Select Plan Type</option>
                        <option value="basic">Basic</option>
                        <option value="monthly">Monthly</option>
                        <option value="quarterly">Quarterly</option>
                        <option value="yearly">Yearly</option>
                    </select>
                    <span id="plan_type_message" style="color: red; font-weight: bold"></span>
                </div>

                <div class="col-md-4 f-lname mt-4">
                    <label for="duration">Duration <span id="required_star">*</span></label>
                    <input type="number" name="duration" id="duration" />
                    <span id="duration_message" style="color: red; font-weight: bold"></span>
                </div>

                <div class="col-md-4 f-name mt-4">
                    <label>Is Active</label>
                    <div class="yes-no">
                        <label class="radio">
                            <input type="radio" name="is_active" id="is_active_yes" value="true" />
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="is_active" id="is_active_no" value="false" />
                            No
                        </label>
                    </div>

                    <span id="is_active_mesage" style="color: red; font-weight: bold"></span>
                </div>

                <div class="col-md-12 f-lname mt-4">
                    <label for="description">Description <span id="required_star">*</span></label>
                    <textarea name="description" id="description" cols="30" rows="6"></textarea>
                    <span id="description_message" style="color: red; font-weight: bold"></span>
                </div>

                <div class="col-md-3 cancel-btn mb-4 mt-5">
                    <button type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        CKEDITOR.replace("description", {
            toolbar: [{ name: "paragraph", items: ["BulletedList"] }],
            startupFocus: true,
        });

        CKEDITOR.on("instanceReady", function (event) {
            var editor = event.editor;
            setTimeout(function () {
                editor.execCommand("bulletedlist");
            }, 100);
        });

        $("#planForm").submit(function (event) {
            event.preventDefault();

            let isValid = true;
            const name = $("#name").val().trim();
            const price = $("#price").val().trim();
            const plan_type = $("#plan_type").val();
            const is_active = $('input[name="is_active"]:checked').val();
            const duration = $("#duration").val().trim();
            const description = CKEDITOR.instances.description.getData().trim();

            $(
                "#name_message, #price_message, #plan_type_message, #is_active_mesage, #duration_message, #description_message"
            ).text("");

            if (!name) {
                isValid = false;
                $("#name_message").text("Name is required");
            }
            if (!price || isNaN(price) || price <= 0) {
                isValid = false;
                $("#price_message").text("Valid price is required");
            }
            if (!plan_type) {
                $("#plan_type_message").text("Select valid plan type");
                isValid = false;
            }
            if (!is_active) {
                isValid = false;
                $("#is_active_mesage").text("Select Yes if plan Active otherwise No");
            }
            if (!duration || isNaN(duration) || duration <= 0) {
                isValid = false;
                $("#duration_message").text("Valid duration is required");
            }
            if (!description) {
                isValid = false;
                $("#description_message").text("Description is required");
            }

            if (isValid) {
                $.ajax({
                    url: "{% url 'add_subscription_view' %}",
                    method: "POST",
                    data: {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        name: name,
                        price: price,
                        plan_type: plan_type,
                        is_active: is_active,
                        duration: duration,
                        description: description,
                    },
                    success: function (response) {
                        if (response.status) {
                            showToaster(response.message, "alert-success");
                            setTimeout(function () {
                                window.location.href = "{% url 'subscription_view' %}";
                            }, 2000);
                        } else {
                            showToaster(response.message, "alert-error");
                        }
                    },
                    error: function () {
                        showToaster(
                            "An error occurred while updating the plan",
                            "alert-error"
                        );
                    },
                });
            }
        });

    }); //document.ready
</script>

{% endblock table %}