{% extends "base/side_bar.html" %}
{% block title %} Use Subscription Plans {% endblock title %}

{% block page_name %}User Subscription Plans{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-8">
            <div class="input-wrapp">
                <form action="{% url 'user_subscription_plans_view' %}" method="get" id="searchForm">
                    <div> 
                        <input type="text" name="search" id="searchInput" placeholder="Search by Names, Email, Phone Number and Referral Code" value="{% if search %}{{ search }}{% endif %}">
                    </div>
                    <div>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button type="button" id="clearButton">Clear</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="export col-4">
            <ul>
                {% comment %} <li class="add-btn me-3">
                    <a href="{% url 'add_user_view' %}">Add<i class="fa-solid fa-plus ms-2"></i></a>
                </li> {% endcomment %}
                <li class="ex-li">
                    <a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                    <ul class="dropdown-content">
                        <li><a class="dropdown-item" href="{% url 'user_subscription_export_view' 'excel' %}">Excel</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_subscription_export_view' 'csv' %}">CSV</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>User</th>
        <th>Plan Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Is Active</th>
        <th>Payment Method</th>
        <th>Paid Amount</th>
        <th>Payment Status</th>
        <th>Action</th>
    </tr>
    {% for user_plan in user_plans %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user_plan.user }}</td>
            <td>{{ user_plan.plan.title }}</td>
            <td>{{ user_plan.start_date }}</td>
            <td>{{ user_plan.end_date }}</td>
            <td>{% if user_plan.is_active %} Yes {% else %} No {% endif %}</td>
            <td>{{ user_plan.payment_method }}</td>
            <td>{{ user_plan.paid_amount }}</td>
            <td>{{ user_plan.payment_status }}</td>
            <td>
                <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
                <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
                <a href="#"> <i class="fa-regular fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock table%}
