{% extends "base/side_bar.html" %}
{% block title %} Eye Test {% endblock title %}
{% block page_name %}Eye Test{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-9">
            <div class="input-wrapp">
                <form action="{% url 'eye_test_view' %}" method="get" id="searchForm">
                    <div>
                        <input type="text" name="search" id="searchInput"
                            placeholder="Search by Report ID, Email, Phone and Name"
                            value="{% if search %}{{ search }}{% endif %}">
                    </div>
                    <div class="filter-dropdown ms-2">
                        <input type="text" name="start_date_filter", id="start_date_filter" placeholder="Start Date"
                            value="{{ start_date_filter|date:'Y-m-d' }}">
                    </div>
                    <div class="filter-dropdown ms-2">
                        <input type="text" name="end_date_filter", id="end_date_filter" placeholder="End Date"
                            value="{{ end_date_filter|date:'Y-m-d' }}">
                    </div>
                    <div class="filter-dropdown select-wrapp ms-2">
                        <select name="health_score_filter" id="health_score_filter" placeholder="Filter">
                            <option value="" {% if None %}selected{% endif %} >Health Score</option>
                            {% for i in range_object %}
                                <option value="{{ i }}" {% if health_score_filter == i %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex mb-2">
                        <div>
                            <button type="submit">Apply</button>
                            <button type="button" id="clearButton">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="export col-3">
            <ul>
                <li class="ex-li">
                    <a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                    <ul class="dropdown-content">
                        <li><a class="dropdown-item" id="exportExcel" href="{% url 'eye_test_export_view' 'excel' %}">Excel</a></li>
                        <li><a class="dropdown-item" id="exportCSV" href="{% url 'eye_test_export_view' 'csv' %}">CSV</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>Report ID</th>
        <th>User Profile</th>
        <th>Health Score</th>
        <th>Created At</th>
        <th>Action</th>
    </tr>
    {% for report in eye_test_reports %}
    <tr>
        <td>{{ forloop.counter0|add:eye_test_reports.start_index|default:forloop.counter }}</td>
        <td>{{ report.report_id }}</td>
        <td>{{ report.user_profile.user.get_full_name }} ({{ report.user_profile.full_name }}) </td>
        <td>{{ report.health_score }}</td>
        <td>{{ report.created_on }}</td>
        <td>
            <a href="#" class="view-eye-test-details" data-report-id="{{ report.pk }}"><i
                    class="fa-solid fa-prescription"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% include "base/pagination.html" with paginated_data=eye_test_reports search=search start_date_filter=start_date_filter end_date_filter=end_date_filter health_score_filter=health_score_filter %}


<!-- Offer Detail Modal -->
<div class="modal fade" id="reportDetailModal" tabindex="-1" role="dialog" aria-labelledby="reportDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportDetailModalLabel"></h5>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> <span id="modal-name"></span></p>
                <p><strong>Age:</strong> <span id="modal-age"></span></p>
                <table>
                    <tr>
                        <th>Eye</th>
                        <th>Add</th>
                        <th>Axis</th>
                        <th>Cyl</th>
                        <th>Sph</th>
                    </tr>
                    <tr>
                        <td>Right Eye</td>
                        <td id="right-add"></td>
                        <td id="right-axis"></td>
                        <td id="right-cyl"></td>
                        <td id="right-sph"></td>
                    </tr>
                    <tr>
                        <td>Left Eye</td>
                        <td id="left-add"></td>
                        <td id="left-axis"></td>
                        <td id="left-cyl"></td>
                        <td id="left-sph"></td>
                    </tr>
                </table>
                <a href="" id="dy-download-url">Download Prescription <i class="fa-solid fa-arrow-down"></i></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modal_dismis" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Offer Detail Modal -->

<script>
    $(document).ready(function () {
        function updateExportLinks() {
            var params = $('#searchForm').serialize();
            $('#exportExcel').attr('href', `{% url 'eye_test_export_view' 'excel' %}?` + params);
            $('#exportCSV').attr('href', `{% url 'eye_test_export_view' 'csv' %}?` + params);
        }
        $('#searchForm input, #searchForm select').on('input change', updateExportLinks);
        updateExportLinks();

        $("#start_date_filter, #end_date_filter").datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: updateExportLinks
        }).attr("readonly", "readonly");

        $('#health_score_filter').select2({
            placeholder: "Health Score"
        });

        $('#clearButton').on('click', function () {
            // Clear all input fields
            $('#searchInput').val('');
            $('input[type="text"]').val('');
            $('select[name="health_score_filter"]').val('');

            // Submit the form to show all results
            $('#searchForm').submit();
        });

        $('.view-eye-test-details').click(function (event) {
            event.preventDefault();
            var report_id = $(this).data('report-id');
            var modal = $('#reportDetailModal');
            var download_url_base = $("#dy-download-url").data('download-url');

            $.ajax({
                url: '/eye-test/eye-test-detailed/' + report_id,
                method: 'GET',
                success: function (data) {
                    var report_data = data.eye_test_report

                    modal.find('#modal-name').text(report_data.name);
                    modal.find('#modal-age').text(report_data.age);
                    modal.find("#reportDetailModalLabel").text("Report ID: " + report_data.report_id);
                    modal.find("#dy-download-url").attr("href", "download-eye-test-report/" + report_data.report_id);

                    modal.find("#right-add").text(report_data.right.add)
                    modal.find("#right-axis").text(report_data.right.axis)
                    modal.find("#right-cyl").text(report_data.right.cyl)
                    modal.find("#right-sph").text(report_data.right.sph)

                    modal.find("#left-add").text(report_data.left.add)
                    modal.find("#left-axis").text(report_data.left.axis)
                    modal.find("#left-cyl").text(report_data.left.cyl)
                    modal.find("#left-sph").text(report_data.left.sph)
                    modal.modal('show');
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching offer details:", error);
                    alert("An error occurred while fetching offer details. Please try again.");
                }
            });
        });

        $("#modal_dismis").on("click", function (e) {
            e.preventDefault();
            $('#reportDetailModal').modal('hide');
        })

    }); // document.ready
</script>


{% endblock table%}\
