{% extends "base/side_bar.html" %}
{% load custom_filters %}
{% block title %} Eye Fatigue {% endblock title %}

{% block page_name %}Eye Fatigue{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-9">
            <div class="input-wrapp">
                <form action="{% url 'eye_fatigue_view' %}" method="get" id="searchForm">
                    <div>
                        <input type="text" name="search" id="searchInput"
                            placeholder="Search by Report ID, Name, Email and Phone"
                            value="{% if search %}{{ search }}{% endif %}">
                    </div>
                    <div class="filter-dropdown">
                        {% comment %} <label>From Date</label> {% endcomment %}
                        <input type="text" name="start_date_filter" id="start_date_filter" placeholder="Start Date"
                            value="{{ start_date_filter|date:'Y-m-d' }}">
                    </div>
                    <div class="filter-dropdown">
                        {% comment %} <label>To Date</label> {% endcomment %}
                        <input type="text" name="end_date_filter" id="end_date_filter" placeholder="End Date"
                            value="{{ end_date_filter|date:'Y-m-d' }}">
                    </div>
                    <div class="filter-dropdown select-wrapp">
                        <select name="health_score_filter" id="health_score_filter" placeholder="Filter">
                            <option value="">Health Score</option>
                            <option value="2" {% if health_score_filter == 2 %}selected{% endif %}>2</option>
                            <option value="3" {% if health_score_filter == 3 %}selected{% endif %}>3</option>
                            <option value="4" {% if health_score_filter == 4 %}selected{% endif %}>4</option>
                            <option value="5" {% if health_score_filter == 5 %}selected{% endif %}>5</option>
                            <option value="6" {% if health_score_filter == 6 %}selected{% endif %}>6</option>
                            <option value="7" {% if health_score_filter == 7 %}selected{% endif %}>7</option>
                            <option value="8" {% if health_score_filter == 8 %}selected{% endif %}>8</option>
                            <option value="9" {% if health_score_filter == 9 %}selected{% endif %}>9</option>
                            <option value="10" {% if health_score_filter == 10 %}selected{% endif %}>10</option>
                        </select>
                    </div>
                    <div class="filter-dropdown select-wrapp">
                        <select name="is_fatigue_left_filter" id="is_fatigue_left_filter" placeholder="Filter">
                            <option value="">Is Fatigue Left</option>
                            <option value="yes" {% if is_fatigue_left_filter == 'yes' %}selected{% endif %}>Yes</option>
                            <option value="no" {% if is_fatigue_left_filter == 'no' %}selected{% endif %}>No</option>
                        </select>
                    </div>
                    <div class="filter-dropdown select-wrapp">
                        <select name="is_fatigue_right_filter" id="is_fatigue_right_filter" placeholder="Filter">
                            <option value="">Is Fatigue Right</option>
                            <option value="yes" {% if is_fatigue_right_filter == 'yes' %}selected{% endif %}>Yes</option>
                            <option value="no" {% if is_fatigue_right_filter == 'no' %}selected{% endif %}>No</option>
                        </select>
                    </div>
                    <div class="d-flex mb-2">
                        <div>
                            <button type="submit">Apply</button>
                            <button type="button" id="clearButton">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="export col-3">
            <ul>
                <li class="ex-li">
                    <a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                    <ul class="dropdown-content">
                        <li><a class="dropdown-item" href="{% url 'user_export_view' 'excel' %}">Excel</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_export_view' 'csv' %}">CSV</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>User</th>
        <th>Report ID</th>
        <th>Is Fatigue Right</th>
        <th>Is Fatigue Left</th>
        <th>Score</th>
        <th>Test Date</th>
        <th>Action</th>
    </tr>
    {% for report in eye_fatigue_reports %}
    <tr>
        <td>{{ forloop.counter0|add:eye_fatigue_reports.start_index|default:forloop.counter }}</td>
        <td>{{ report.user }}</td>
        <td>{{ report.report_id }}</td>
        <td class="{% if report.is_fatigue_right %}fatigue-yes {% else %}fatigue-no{% endif %}">{% if report.is_fatigue_right %}Yes {% else %}No{% endif %}</td>
        <td class="{% if report.is_fatigue_left %}fatigue-yes {% else %}fatigue-no{% endif %}">{% if report.is_fatigue_left %}Yes {% else %}No{% endif %}</td>
        <td>{{ report.health_score }}</td>
        <td>{{ report.created_on|format_datetime }}</td>
        <td>
            <a href="#" class="view-fatigue-details" data-fatigue-id="{{ report.pk }}"><i
                    class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include "base/pagination.html" with paginated_data=eye_fatigue_reports search=search start_date_filter=start_date_filter end_date_filter=end_date_filter health_score_filter=health_score_filter is_fatigue_left_filter=is_fatigue_left_filter is_fatigue_right_filter=is_fatigue_right_filter %}

<!-- Offer Detail Modal -->
<div class="modal fade" id="fatigueDetailModal" tabindex="-1" role="dialog" aria-labelledby="fatigueDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fatigueDetailModalLabel">Fatigue Test Details</h5>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> <span id="modal-name"></span></p>
                <p><strong>Age:</strong> <span id="modal-age"></span></p>
                <p><strong>Is Fatigue Right:</strong> <span id="modal-is_fatigue_right"></span></p>
                <p><strong>Is Mild Tiredness Right:</strong> <span id="modal-is_mild_tiredness_right"></span></p>
                <p><strong>Is Fatigue Left:</strong> <span id="modal-is_fatigue_left"></span></p>
                <p><strong>Is Mild Tiredness Right:</strong> <span id="modal-is_mild_tiredness_left"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modal_dismiss" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Offer Detail Modal -->

<script>
    $(document).ready(function () {
        $("#start_date_filter, #end_date_filter").datepicker({
            dateFormat: "yy-mm-dd"
        }).attr("readonly", "readonly");

        $('#health_score_filter, #is_fatigue_left_filter, #is_fatigue_right_filter').select2({
            minimumResultsForSearch: Infinity
        });

        $('#clearButton').click(function () {
            $('#searchInput').val('');
            $('input[type="date"]').val('');
            $('select').prop('selectedIndex', 0);

            $('#searchForm').submit();
        });

        $('.view-fatigue-details').click(function (event) {
            event.preventDefault();
            var fatigue_id = $(this).data('fatigue-id');
            var modal = $('#fatigueDetailModal');

            $.ajax({
                url: '/eye/eye-fatigue-detailed/' + fatigue_id,
                method: 'GET',
                success: function (data) {
                    var report_data = data.eye_fatigue_report
                    modal.find("#modal-name").text(report_data.full_name)
                    modal.find("#modal-age").text(report_data.age)
                    modal.find("#modal-is_fatigue_right").text(report_data.is_fatigue_right === true ? 'Yes' : 'No')
                    modal.find("#modal-is_mild_tiredness_right").text(report_data.is_mild_tiredness_right === true ? 'Yes' : 'No')
                    modal.find("#modal-is_fatigue_left").text(report_data.is_fatigue_left === true ? 'Yes' : 'No')
                    modal.find("#modal-is_mild_tiredness_left").text(report_data.is_mild_tiredness_left === true ? 'Yes' : 'No')
                    modal.modal('show');
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching offer details:", error);
                    alert("An error occurred while fetching offer details. Please try again.");
                }
            });
        });

        $("#modal_dismiss").on("click", function (e) {
            e.preventDefault();
            $('#fatigueDetailModal').modal('hide');
        })
    });
    $(".filter-dropdown input").click(function () {
        $(".filter-dropdown label").hide();
    });
</script>


{% endblock table%}