{% extends "base/side_bar.html" %}
{% block title %} Eye Fatigue {% endblock title %}

{% block page_name %}Eye Fatigue{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-9">
            <div class="input-wrapp">
                <form action="{% url 'users_view' %}" method="get" id="searchForm">
                    <div>
                        <input type="text" name="search" id="searchInput" placeholder="Search by Names, Email, Phone Number and Referral Code" value="{% if search %}{{ search }}{% endif %}">
                    </div>
                    <div class="filter-dropdown ms-2">
                        <input type="date" name="start_date" placeholder="Start Date">
                    </div>
                    <div class="filter-dropdown ms-2">
                        <input type="date" name="end_date" placeholder="End Date">
                    </div>
                    <div class="filter-dropdown ms-2">
                        <select name="health_score" placeholder="Filter">
                            <option value="">Health Score</option>
                            <option value="6.5">6.5</option>
                            <option value="6.6">6.6</option>
                            <option value="6.7">6.7</option>
                            <option value="6.8">6.8</option>
                            <option value="6.9">6.9</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                    <div class="filter-dropdown ms-2">
                        <select name="is_fatigue_left" placeholder="Filter">
                            <option value="">Is Fatigue Right</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="filter-dropdown ms-2">
                        <select name="is_fatigue_right" placeholder="Filter">
                            <option value="">Is Fatigue Left</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="d-flex mb-2">
                        <div>
                            <button type="submit">Apply</button>
                            <button type="button" id="clearButton">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="export col-3">
            <ul>
                <li class="ex-li">
                    <a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                    <ul class="dropdown-content">
                        <li><a class="dropdown-item" href="{% url 'user_export_view' 'excel' %}">Excel</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_export_view' 'csv' %}">CSV</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>User</th>
        <th>Report ID</th>
        <th>Is Fatigue Right</th>
        <th>Is Mild Tiredness Right</th>
        <th>Is Fatigue Left</th>
        <th>Is Mild Tiredness Left</th>
        <th>Action</th>
    </tr>
    {% for report in eye_fatigue_reports %}
    <tr>
        <td>{{ forloop.counter0|add:eye_fatigue_reports.start_index|default:forloop.counter }}</td>
        <td>{{ report.user }}</td>
        <td>{{ report.report_id }}</td>
        <td>{{ report.is_fatigue_right }}</td>
        <td>{{ report.is_mild_tiredness_right }}</td>
        <td>{{ report.is_fatigue_left }}</td>
        <td>{{ report.is_mild_tiredness_left }}</td>
        <td>
            <a href="#" class="view-fatigue-details" data-fatigue-id="{{ report.pk }}"><i
                    class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include "base/pagination.html" with paginated_data=eye_fatigue_reports %}

<!-- Offer Detail Modal -->
<div class="modal fade" id="fatigueDetailModal" tabindex="-1" role="dialog" aria-labelledby="fatigueDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fatigueDetailModalLabel">Fatigue Test Details</h5>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> <span id="modal-name"></span></p>
                <p><strong>Age:</strong> <span id="modal-age"></span></p>
                <p><strong>Is Fatigue Right:</strong> <span id="modal-is_fatigue_right"></span></p>
                <p><strong>Is Mild Tiredness Right:</strong> <span id="modal-is_mild_tiredness_right"></span></p>
                <p><strong>Is Fatigue Left:</strong> <span id="modal-is_fatigue_left"></span></p>
                <p><strong>Is Mild Tiredness Right:</strong> <span id="modal-is_mild_tiredness_left"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modal_dismis" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Offer Detail Modal -->

<script>
    $(document).ready(function () {
        $('.view-fatigue-details').click(function (event) {
            event.preventDefault();
            var fatigue_id = $(this).data('fatigue-id');
            var modal = $('#fatigueDetailModal');

            $.ajax({
                url: '/eye/eye-fatigue-detailed/' + fatigue_id,
                method: 'GET',
                success: function (data) {
                    var report_data = data.eye_fatigue_report
                    modal.find("#modal-name").text(report_data.full_name)
                    modal.find("#modal-age").text(report_data.age)
                    modal.find("#modal-is_fatigue_right").text(report_data.is_fatigue_right === true ? 'Yes' : 'No')
                    modal.find("#modal-is_mild_tiredness_right").text(report_data.is_mild_tiredness_right === true ? 'Yes' : 'No')
                    modal.find("#modal-is_fatigue_left").text(report_data.is_fatigue_left === true ? 'Yes' : 'No')
                    modal.find("#modal-is_mild_tiredness_left").text(report_data.is_mild_tiredness_left === true ? 'Yes' : 'No')
                    modal.modal('show');
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching offer details:", error);
                    alert("An error occurred while fetching offer details. Please try again.");
                }
            });
        });

        $("#modal_dismis").on("click", function (e) {
            e.preventDefault();
            $('#fatigueDetailModal').modal('hide');
        })
    });
</script>


{% endblock table%}