{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} Prescription Edit {% endblock title %}

{% block page_name %}Prescription Edit{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class=" form-main">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label for="title">User <span id="required_star">*</span></label>
                    <input type="text" name="title" id="title" class="form-control" value="{{ prescription_obj.user}}"/>
                </div>
                <div class="col-md-4 f-lname mt-4">
                    <label for="text">Text </label>
                    <input type="text" name="text" id="text" class="form-control" value="{{ prescription_obj.text }}"/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label for="file">File <span id="required_star">*</span></label>
                    <input type="file" name="file" id="file" src="{% if prescription_obj.file %}{{prescription_obj.file.url}}{% else %}""{% endif %}" class="form-control"/>
                </div>
                <div class="col-md-4 f-name mt-4">
                    <label for="status">Status <span id="required_star">*</span></label>
                    <select name="status" id="status" class="form-control">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                        <option value="deactivate">Deactivate</option>
                    </select>
                </div>
                <div class="col-md-4 f-lname mt-4">
                    <label for="required_points">Required Points <span id="required_star">*</span></label>
                    <input type="number" name="required_points" id="required_points" value="{{ offer_obj.required_points}}" class="form-control"/>
                </div>
                <div class="col-md-3 cancel-btn mb-4 mt-5">
                    <button type="submit" class="btn btn-primary save-btn">Save</button>
                </div>
            </div>
        </form>
</div>
{% endblock table%}