{% extends "base/side_bar.html" %}
{% load custom_filters %}
{% block title %} Prescription {% endblock title %}

{% block page_name %}Prescription{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-5">
            <div class="input-wrapp">
                <input type="text" placeholder="Search by names,type and value">
                <!-- <button>Search</button> -->
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="export col-4">
            <ul>
                <div class="drop-downmenu">
            <li class="ex-li" ><a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                <ul class="dropdown-content">
                    <li class="mb-1"><a href="#">PDF</a></li>
                    <li class="mb-1"><a href="#">Excel</a></li>
                    <li><a href="#">CSV</a></li>
                </ul>
            </li>
        </ul>
            
        </div>
    </div>
</div>
{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>User</th>
        <th>Status</th>
        <th>Uploaded Date</th>
        <th>Action</th>
    </tr>
    {% for prescription in prescriptions %}
        <tr>
            <td>{{ forloop.counter0|add:prescriptions.start_index|default:forloop.counter }}</td>
            <td>{{ prescription.user }}</td>
            <td>{{ prescription.status|title }}</td>
            <td>{{ prescription.created_on|format_datetime }}</td>
            <td>
                <a href="{% url "prescription_detailed_view" prescription.pk %}"> <i class="fa-regular fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>
{% include "base/pagination.html" with paginated_data=prescriptions %}
{% endblock table%}