.pending {
    color: orange;
    font-weight: bold;
}

.approved {
    color: green;
    font-weight: bold;
}

.rejected {
    color: red;
    font-weight: bold;
}

.inactive {
    color: orange;
    font-weight: bold;
}

.active {
    color: green;
    font-weight: bold;
}

.expired {
    color: red;
    font-weight: bold;
}

/* SPAN ERROR/SUCCESS MESSAGE START */
.span-error-message {
    font-weight: bold;
    color: red;
}

.span-success-message {
    font-weight: bold;
    color: green;
}

/* SPAN ERROR/SUCCESS MESSAGE END */


/* fatigue start */
.fatigue-yes {
    color: green;
    font-weight: bold;
}

.fatigue-no {
    color: red;
    font-weight: bold;
}

/* fatigue end */