body {
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul {
    padding-left: 0;
    margin-bottom: 0 !important;
    list-style: none;
}

.list-box img {
    height: 40px;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un,
.pass {
    width: 76% !important;
    color: rgb(38, 50, 56) !important;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 20px;
    outline: none !important;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02) !important;
    margin-bottom: 27px;
    margin-left: 46px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.un:focus,
.pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

form.form1 {
    padding-top: 40px;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #5200a5;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

/* w3school */
.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.w3-container,
.w3-panel {
    padding: 0.01em 16px;
}

.w3-teal,
.w3-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.side-bar {
    background: #f5f8fa 0 0 no-repeat padding-box;
    box-shadow: 4px 0 11px #0000000a;
    opacity: 1;
    width: 230px;
    height: 100%;
    position: fixed;
    left: 0;
    color: black;
    top: 0;
    cursor: pointer;
    z-index: 1;
}

.right-bar {
    width: calc(100% - 230px);
    margin: 0 0 0 auto;
}

.main-wrapper {
    width: 100%;
    position: relative;
}

.main-wrapper header {
    padding: 14px 46px;
    max-width: 100%;
    color: #000;
    background-color: #f5f8fa;
}

.inner-div h5 {
    font-size: 26px;
    color: #000;
    padding: 20px 40px;
    margin: 0;
}

.inner-div div>ul {
    padding: 20px 7px;
}

.inner-div div>ul li a {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    display: block;
    padding: 6px 15px;
    margin-bottom: 5px;
}

.inner-div {
    height: 100%;
    padding-bottom: 25px;
}

.side-list {
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
}

.login-wrap img {
    width: 40px;
}

.login-wrap {
    text-align: end;
}

.inner-div ul li a:hover {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.inner-div ul li a.active-link {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.export {
    text-align: end;
    display: flex;
    justify-content: end;
}

.add-btn a {
    background-color: #5200a5;
    border: none;
    text-align: center;
    padding: 8px 12px;
    width: 100%;
    font-size: 14px;
    color: #fff !important;
    font-weight: 700;
    border-radius: 12px 12px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn a span,
.add-btn i {
    color: #fff;
}

.export>ul {
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 0;
    width: 100%;
}

li.ex-li:hover ul.dropdown-content {
    display: block;
}

.export-btn {
    background-color: #fff;
    border-radius: 12px 12px 12px 12px;
    position: relative;
    padding: 8px 12px;
    display: flex;
    list-style: none;
    text-align: center;
    height: 42px;
    align-items: center;
    color: black;
    border: 2px solid;
    border-color: #5200a5;
}

.header-heading {
    font-size: 26px;
    font-weight: 500;
}

.search-box input {
    border: none;
    background-color: #f5f8fa;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    width: 100%;
    color: #000;
}

.right-table {
    font-size: 14px;
    padding: 0px 45px 0px 45px;
}

.right-table1 {
    font-size: 14px;
    padding: 45px 45px 0px 45px;
}

.input-wrapp {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.input-wrapp>i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

.search-box {
    padding: 24px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.bottomwrap {
    padding-left: 46px;
    padding-right: 46px;
}

.right-table table {
    width: 100%;
}

.right-table table,
th,
td {
    border-bottom: 1px dotted black;
    padding: 15px 0px 15px 0px;
}

.dropdown-content {
    background-color: #fff;
    padding: 15px 21px;
    position: absolute;
    min-width: 147px;
    box-shadow: 0 7px 17px 0 rgba(0, 0, 0, .1);
    z-index: 999;
    right: 40px;
    display: none;
    margin-top: -7px;
    top: 139px;
}

ul.dropdown-content li a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

button.export-btn:hover ul.dropdown-content {
    display: block;
}

/* 31-may */

.list-box {
    display: flex;
    background: #e6f2e2;
    padding: 35px 18px 35px;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}

.list-box img {
    max-width: 51px;
    width: 100%;
    height: 51px;
}

/* .export ul li {
    width: 100%;
} */

.edit-nav.row img {
    height: 85px;
}

.edit-nav.row {
    align-items: center;
}

.f-mail input,
.f-lname input,
.f-name input {
    width: 100%;
    padding: 6px 12px;
    outline: none;
    border: 1px solid #bfbbbb;
    color: #2b292c;
}

.profile {
    text-align: end;
}

.cancel-btn button {
    width: 100%;
    background-color: #5200a5;
    padding: 10px 14px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 14px;
}

.list-boxs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel-btn {
    display: flex;
    justify-content: end;
    align-items: end;
}

.list-boxs h6 {
    font-size: 16px;
    font-weight: 500;
    color: #5200a5;
}

.list-box {
    display: flex;
    align-items: center;
    padding: 17px;
    background-color: #e6f2e2;
    border-radius: 5px;
}

.export-btn img {
    width: 100%;
    height: 24px;
}

.list-boxs h6 {
    margin: 0;
}

i.fa.fa-search {
    color: #000;
}

/* 22-may */

button {
    cursor: pointer !important;
    border-radius: 12px !important;
    border: none;
    font-size: 16px !important;
    font-weight: 500;
    color: #FFFFFF;
    padding: 6px 24px;
    background-color: #5200a5;
}

.custom-button-1 {
    width: 15%;
    display: flex;
    justify-content: end;
}

.list-box img {
    height: 51px;
}

.custom-button {
    display: flex;
    justify-content: end;
}

.custom-button button {
    background-color: #e6f2e2;
    color: #5200a5;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 500;
}

.col2 {
    width: 80%;
}

.first-last-name div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-last-name input {
    width: 100%;
    padding: 6px 12px;
    border-radius: 5px;
    outline: none;
    color: #2b292c;
    border: 1px solid #bfbbbb;
}

.last-name input {
    width: 100%;
}

.list-box img {
    height: 51px;
}

.list-box h6 {
    margin: 0;
}

.list-box span {
    display: block;
}

span.custom-class-1 {
    color: #5200a5;
    font-weight: 500;
}

input:disabled {
    background-color: #f5f5f5;
    color: #a1a1a1;
}

.side-bar a {
    color: #000000;
}

.wrapper form {
    padding: 0;
}

table {
    width: 100%;
}

input[type=email] {
    outline: none;
    border: 1px solid #bfbbbb;
    padding: 6px 12px;
    width: 100%;
}

input[type=text] {
    outline: none;
    border: 1px solid #bfbbbb;
    padding: 6px 12px;
    width: 100%;
}

.fa-angle-down {
    color: #fff;
}

.w3-school-row,
.edit-nav.row {
    display: flex;
    align-items: center;
}

ul.export-btn {
    padding-left: 0;
}

button.add-btn {
    width: 100%;
    color: #fff;
    background-color: #5200a5;
    border-radius: 5px;
}

ul.export-btn {
    width: 100%;
}

.list-box img {
    max-width: 51px;
    width: 100%;
    height: 51px;
}

header {
    padding: 14px 46px;
    max-width: 100%;
    color: #000;
    background-color: #f5f8fa;
}



ul.dropdown-content {
    background-color: #fff;
    padding: 15px 21px;
    position: absolute;
    min-width: 147px;
    box-shadow: 0 7px 17px 0 rgba(0, 0, 0, .1);
    z-index: 999;
    right: 40px;
    display: none;
    margin-top: -9px;
    top: 139px;
}

ul.dropdown-content li a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

button.export-btn:hover ul.dropdown-content {
    display: block;
}

.header-heading {
    font-size: 26px;
    font-weight: 500;
}

.search-box input {
    border: none;
    background-color: #f5f8fa;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    height: 42px;
    width: 100%;
    color: #000;
}

.wrapper form {
    padding: 0;
}

.right-table {
    font-size: 14px;
    padding: 0px 45px 0px 45px;
}

.right-table1 {
    font-size: 14px;
    padding: 45px 45px 0px 45px;
}

.search-box {
    padding: 24px 0px 0px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.list-box {
    display: flex;
    align-items: center;
    padding: 17px;
    background-color: #e6f2e2;
    border-radius: 5px;
}

ul.export-btn {
    width: 100%;
}

.inner-div ul li a:hover {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.inner-div ul li a.active-link {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.bottomwrap {
    padding-left: 46px;
    padding-right: 46px;
}

.right-table table {
    width: 100%;
}

.right-table table,
th,
td {
    border-bottom: 1px dotted black;
    padding: 15px 0px 15px 0px;
}

.right-table1 table,
th,
td {
    border-bottom: 1px dotted black;
    padding: 15px 0px 15px 0px;
}

.edit-nav.row img {
    height: 85px;
}

.edit-nav.row {
    align-items: center;
}

.f-mail input,
.f-lname input,
.f-name input {
    width: 100%;
    padding: 6px 12px;
    outline: none;
    border: 1px solid #bfbbbb;
    color: #2b292c;
}

.cancel-btn button {
    width: 100%;
    background-color: #5200a5;
    padding: 10px 14px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 14px;
}

.profile {
    text-align: left;
}

.form-main label {
    font-weight: 500;
}

.side-list img {
    height: 20px;
    align-items: center;
}

.input-wrapp button {
    padding: 8px 16px;
    border-radius: 27px;
}

form#searchForm {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.side-list ul li a img {
    height: 18px;
}

/* Delete popup */
#dlt-btn-overlay {
    display: none;
    position: fixed;
    top: 0;
    z-index: 99999;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.dlt-popup {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dlt-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.pop-confirm-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmDelete {
    background: red;
    color: white;
}

#cancelDelete {
    background: #5200a5;
    color: white;
}

/* delete popup end */

/* required_star */
#required_star {
    color: red;
}

/* required_star end */
i#deleteButton {
    color: #0d6efd;
}

/* approve-reject prescription */
.Approve-btn {
    /* background-color: green; */
    color: #fff;
    /* border-radius: 7px; */
}

.Reject-btn {
    /* background-color: red; */
    color: #fff;
    /* border-radius: 7px; */
}

.btn-primary1 {
    /* background-color: green; */
    color: #FFF !important;
}

/* approve-reject prescription end*/
.btn-primary:hover {
    color: #fff;
    /* background-color: #0b5ed7; */
    /* border-color: #0a58ca; */
}

.dropdown-toggle::after {
    display: none !important;
}

li.nav-item.dropdown {
    border: 2px solid #5200a5;
    border-radius: 7px;
}

/* show file button in prescription end */
.show-file-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #5200a5;
    border: none;
    border-radius: 5px;
    outline: none;
}

.show-file-btn:hover {
    background-color: #ffffff;
}

/* show file button in prescription */

.description_box {
    width: 100%;
}

button.btn.btn-primary1.save-btn.col-md-3.mt-5.Dispatch-btn.me-2 {
    background-color: #5200a5;
}

button.btn.btn-primary1.save-btn.col-md-3.mt-5.Email-btn {
    background-color: #5200a5;
}

.right-table button {
    color: #fff;
    background-color: #5200a5;
    border-color: #5200a5 !important;
    font-weight: 600;
    font-size: 13px !important;
    display: block;
    /* width: 100%; */
    outline: none;
    border: none;
}

.Reject-btn button {
    background-color: red;
}

.right-bar .card {
    margin-bottom: 25px;
}

.card-body {
    background-color: #f5f8fa;
}

.card {
    border: none !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card input {
    border: none;
    padding: 6px 12px;
    outline: none;
    border-radius: 7px;
    width: 100%;
}

.view-status {
    background-color: #f5f8fa;
    padding: 25px;
    /* text-align: center; */
    align-items: center;
    font-size: 18px;
    border-radius: 7px;
}

p.pending-status {
    /* align-items: center; */
    /* text-align: center; */
    margin: 0;
}

.label-bold label {
    font-weight: 800;
}

.label-bold p {
    font-weight: 300;
}

a.view-img {
    background-color: #5200a5;
    color: white;
    padding: 6px 12px;
    border-radius: 7px;
    font-weight: 600;
}

a.view-img :hover {
    color: white;
}

.right-table .modal-footer {
    flex-direction: row;
    flex-wrap: unset;
}

.right-table button#confirm-reject-btn {
    background-color: #b10808;
    border: 0;
}

button.btn.btn-secondary {
    background-color: #021202;
    border: none;
}

.right-table textarea#rejection-notes {
    height: 150px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5200a5 !important;
    /* border-color: #0a58ca; */
}

.hide-table {
    display: none;
}

ul.nav.nav-tabs.customtabs {
    border-bottom: 0px;
    margin-bottom: 30px;
}

ul.nav.nav-tabs.customtabs li.nav-item>a {
    background-color: #f5f8fa;
    margin-right: 10px;
    padding: 10px 13px;
    color: #004c91;
    font-weight: 600;
    max-width: 100%;
    width: 200px;
    text-align: center;
    border-radius: 6px;
}

.tab-content h3 {
    color: #000;
}

ul.nav.nav-tabs.customtabs li.nav-item>a.nav-link.active {
    background-color: #5200a5;
    color: #fff;
    font-weight: 500;
}

div#users,
div#subscription {
    padding: 0px 45px;
}

table.table {
    margin-top: 15px;
}

table.table tbody {
    border: 1px solid #e8e8e8;
    border-top: 0px;
}

table.table thead {
    border: 1px solid #e8e8e8;
}

table.table th {
    background-color: #f5f8fa;
    padding: 14px 12px;
    color: #521ca2;
    border-bottom: 0;
    font-size: 18px;
}

table.table tbody td {
    padding: 10px 12px;
    border-bottom: 1px solid #e8e8e8;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

/* Thumbnail start */
.thumbnail-img {
    width: 80px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Thumbnail end */
.filter-main>button {
    padding: 6px 35px;
    /* font-size: 14px !important; */
    font-weight: 600;
    border-radius: 36px !important;
    height: 42px;
}


.filter-dropdown {
    max-width: 145px;
    width: 100%;
    position: relative;
}

.filter-dropdown label {
    display: block;
    margin-bottom: 6px;
}


.filter-dropdown select {
    width: 100%;
    padding: 13px 12px;
    border-color: aliceblue;
    border-radius: 33px;
    height: 42px;
    outline: none;
    background-color: #f5f8fa;
}


label.radio {
    background-color: #f8f8f8;
    padding: 1px 12px;
    text-align: center;
    border-radius: 6px;
}

#bulkDeleteButton {
    display: none;
}

.slidecontainer {
    width: 200px;
    max-width: 100%;
}

.filter-dropdown select {
    font-size: 14px;
}


.filter-dropdown label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f5f8fa;
    width: 90px;
}

.filter-dropdown input::-webkit-datetime-edit-year-field:not([aria-valuenow]),
.filter-dropdown input::-webkit-datetime-edit-month-field:not([aria-valuenow]),
.filter-dropdown input::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

.search-box.row {
    align-items: start;
}

.k-name input {
    max-width: 18px;
    width: 100%;
}

.notification-search input {
    width: 100%;
    border: 1px solid #bfbbbb;
    max-width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 8px 12px;
}

.k-name {
    height: 100%;
    max-height: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow-y: scroll;
    padding: 0px 20px 20px 20px;
    border-radius: 4px;
}

.home-main a {
    text-decoration: none !important;
    color: black;
}

.home-main a :hover {
    color: black;
}

.ckeditor-container label {
    font-weight: 500;
    font-size: 20px;
}

.select-wrapp span.select2.select2-container {
    width: 100% !important;
}

.select-wrapp {
    width: 100%;
    max-width: 185px;
}

.select-wrapp span.select2-selection.select2-selection--single {
    background-color: #f2f2f2 !important;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    position: relative !important;
}

.select-wrapp .select2-selection__rendered {
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-left: 17px !important;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.select2-dropdown {
    border: 1px solid #6900a8 !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #6900a8 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.select2-results__options li {
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50% !important;
    right: 9px !important;
    transform: translateY(-50%) !important;
}

input.select2-search__field {
    outline: none;
}


#reject-btn {
    background-color: red;
    border: none;
    outline: none;
}

.modal-dialog {
    max-width: 700px !important;
    width: 100%;
}

button.btn.btn-danger.delete-creds-btn {
    background-color: red;
}

button.btn.btn-danger.removeRow {
    background-color: transparent;
    color: black;
    height: unset;
    padding: 0;
    /* max-width: 30px; */
    /* width: 100%; */
}

.add-on-red .cred-input-wrap {
    width: 47%;
}

.input-group.add-on-red {
    gap: 5px;
    /* background-color: blue; */
    /* padding: 12px; */
    justify-content: space-between;
}

button.btn.btn-danger.removeRow i {
    margin-top: 23px;
}

.side-list>ul {
    overflow-y: auto;
}

/* Basic styling for the column and login-wrap */
.col-3 {
    width: 25%;
}

.login-wrap {
    position: relative;
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* display: inline-block; */
    cursor: pointer;
}

/* Styling for the user icon */
.login-wrap img {
    width: 40px;
    height: 40px;
    border-radius: 40%;
    /* vertical-align: middle; */
}





.root-main {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;

}

.root-main>i {
    font-size: 22px;
    border-right: 1px solid;
    padding: 11px;
    cursor: pointer;
}

.notification-screen {
    display: none;
    position: fixed;
    top: 7%;
    right: 0;
    width: 360px !important;
    height: 100% !important;
    background-color: white;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    z-index: 99999;
}

.notification-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-data p {
    background: #f5f8fa;
    border-radius: 12px;
    padding: 14px 6px;
}

.popup-menu {
    display: none;
    position: absolute;
    top: 55px;
    right: -48px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 150px !important;
    padding: 10px 8px;
}

.popup-menu a {
    color: #333;
    padding: 10px 7px 10px;
    display: block;
    text-align: center;
}

.popup-menu a:hover {
    background-color: #f1f1f1;
}

.popup-menu a:hover {
    color: black !important;
}

.my_profile_container {
    position: relative;
    display: inline-block;
}

img#profile_image_id {
    height: auto;
}

.my_profile_container {
    /* max-width: 150px; */
    width: 100%;
    height: auto !important;
}

.my_profile_image {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile_img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    /* border-radius: 50%; */
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_profile_container:hover .profile_img_overlay {
    opacity: 1;
}

.profile_pen_icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#fileInput {
    display: none;
}

.card-header-main button {
    text-decoration: none;
    color: black;

    /* font-size: 0px; */
}

.card-header-main button:hover {
    color: black !important;
    outline: none;
    border: none;
    width: 100%;
}

.card-header-main {
    /* padding: .5rem 1rem; */
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    /* border-bottom: 1px solid rgba(0,0,0,.125); */
}

button.btn.btn-link.btn-text-notify.collapsed {
    width: 100%;
}

button.btn.btn-link.btn-text-notify {
    width: 100%;
}

.notify-icon {
    color: black;
    position: relative;
    font-size: 22px;
    padding-right: 15px;
    border-right: 1px solid;
}

.notify-icon:hover {
    color: black;
}

span.blue-dot {
    background-color: blue;
    color: blue;
    font-size: 5px;
    border-radius: 25px;
}

span.notify-dot {
    background-color: red;
    color: red;
    /* padding: 0px; */
    width: 8px;
    /* left: 0; */
    top: 0;
    right: 13px;
    height: 8px;
    font-size: 7px;
    position: absolute;
    border-radius: 51px;
}

.btn-text-notify {
    text-align: left !important;
}

.notification-top i {
    cursor: pointer;
    font-size: 22px;
}

.notification-top h3 {
    align-items: center;
    text-align: center;
}

.profile.my_profile_container img {
    width: 100%;
    max-width: 300px;
    height: 300px !important;
    /* margin: auto; */
    border-radius: 0px;
}

.foundational_content {
    background-color: #f5f8fa;
    font-size: 21px;
    padding: 6px 12px;
    text-align: right;
}

.card-body {
    flex: 1 1 auto;
    /* padding: 1rem 1rem; */
    border-top: 1px solid #80808030;
    padding: 13px;
}

form .form-control:focus {
    border-color: #5200a5;
    box-shadow: none;
}