body {
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #5200a5;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #000;
    text-decoration: none;
}
/* w3school */
.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    padding-left: 0;
    list-style: none;
}
.side-bar {
    background: #f5f8fa 0 0 no-repeat padding-box;
    box-shadow: 4px 0 11px #0000000a;
    opacity: 1;
    width: 230px;
    height: 100%;
    position: fixed;
    left: 0;
    color: black;
    top: 0;
    cursor: pointer;
    z-index: 1111;
}
.right-bar {
    width: calc(100% - 230px);
    margin: 0 0 0 auto;
}
.mainwrapper {
    width: 100%;
    position: relative;
}

.mainwrapper header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 46px;
    color: #000;
    background-color: #f5f8fa;
}
.innerdiv h5 {
    font-size: 26px;
    color: #000;
    padding: 28px 45px;
    margin: 0;
}
.innerdiv > ul {
    padding: 20px 40px;
}
.innerdiv > ul li a {
    font-size: 18px;
    color: #000;
    /* font-weight: 700; */
    display: block;
}
.innerdiv >  ul li:not(:last-child) {
    margin-bottom: 10px;
}

.login-wrap img {
    width: 40px;
}
/* w3school */

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
};

