body {
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.list-box img {
    height: 40px;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un, .pass {
    width: 76% !important;
    color: rgb(38, 50, 56) !important;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 20px;
    outline: none !important;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02)!important;
    margin-bottom: 27px;
    margin-left: 46px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

form.form1 {
    padding-top: 40px;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #5200a5;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

/* w3school */
.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.w3-container,
.w3-panel {
    padding: 0.01em 16px;
}

.w3-teal,
.w3-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.side-bar {
    background: #f5f8fa 0 0 no-repeat padding-box;
    box-shadow: 4px 0 11px #0000000a;
    opacity: 1;
    width: 230px;
    height: 100%;
    position: fixed;
    left: 0;
    color: black;
    top: 0;
    cursor: pointer;
    z-index: 1111;
}

.right-bar {
    width: calc(100% - 230px);
    margin: 0 0 0 auto;
}

.mainwrapper {
    width: 100%;
    position: relative;
}

.mainwrapper header {
    padding: 14px 46px;
    max-width: 100%;
    color: #000;
    background-color: #f5f8fa;
}

.innerdiv h5 {
    font-size: 26px;
    color: #000;
    padding: 20px 40px;
    margin: 0;
}

.innerdiv div>ul {
    padding: 20px 30px;
}

.innerdiv div>ul li a {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    display: block;
    padding: 6px 12px;
    margin-bottom: 5px;
}

.logout-wrap {
    padding: 20px 37px;
}

.innerdiv {
    height: 100%;
    padding-bottom: 25px;
}

.side-list {
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logout-wrap a {
    padding: 6px 12px;
    display: block;
}

.logout-wrap a:hover {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.login-wrap img {
    width: 40px;
}

.login-wrap {
    text-align: end;
}

.innerdiv ul li a:hover {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.innerdiv ul li a.acive-link {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.export {
    text-align: end;
    display: flex;
    justify-content: end;
}

.add-btn  a {
    background-color: #5200a5;
    border: none;
    text-align: center;
    padding: 8px 12px;
    width: 100%;
    font-size: 14px;
    color: #fff !important;
    font-weight: 700;
    border-radius: 12px 12px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-btn  a span , .add-btn i{
    color: #fff;
}
.export>ul {
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

li.ex-li:hover ul.dropdown-content {
    display: block;
}

.export-btn {
    background-color: #fff;
    border-radius: 12px 12px 12px 12px;
    position: relative;
    padding: 8px 12px;
    list-style: none;
    border: 2px solid;
    border-color: #5200a5;
}

.header-heading {
    font-size: 26px;
    font-weight: 500;
}

.search-box input {
    border: none;
    background-color: #f5f8fa;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    width: 100%;
    color: #000;
}

.right-table {
    font-size: 14px;
    padding: 0px 45px 0px 45px;
}

.right-table1 {
    font-size: 14px;
    padding: 45px 45px 0px 45px;
}

.input-wrapp {
    position: relative;
}

.input-wrapp>i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

.search-box {
    padding: 24px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.bottomwrap {
    padding-left: 46px;
    padding-right: 46px;
}

.right-table table {
    width: 100%;
}

.right-table table,
th,
td {
    border-bottom: 1px dotted black;
    padding: 15px 0px 15px 0px;
}

.dropdown-content {
    background-color: #fff;
    padding: 15px 21px;
    position: absolute;
    min-width: 147px;
    box-shadow: 0 7px 17px 0 rgba(0, 0, 0, .1);
    z-index: 999;
    right: 40px;
    display: none;
    margin-top: -7px;
    top: 139px;
}

ul.dropdown-content li a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

button.export-btn:hover ul.dropdown-content {
    display: block;
}

/* 31-may */

.list-box {
    display: flex;
    background: #e6f2e2;
    padding: 35px 18px 35px;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}

.list-box img {
    max-width: 51px;
    width: 100%;
    height: 51px;
}

/* .export ul li {
    width: 100%;
} */

.edit-nav.row img {
    height: 85px;
}

.edit-nav.row {
    align-items: center;
}

.f-mail input,
.f-lname input,
.f-name input {
    width: 100%;
    padding: 6px 12px;
    outline: none;
    border: 1px solid #bfbbbb;
    color: #2b292c;
}

.profile {
    text-align: end;
}

.cancel-btn button {
    width: 100%;
    background-color: #5200a5;
    padding: 10px 14px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 14px;
}

.list-boxs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel-btn {
    display: flex;
    justify-content: end;
    align-items: end;
}

.list-boxs h6 {
    font-size: 16px;
    font-weight: 500;
    color: #5200a5;
}

.list-box {
    display: flex;
    align-items: center;
    padding: 17px;
    background-color: #e6f2e2;
    border-radius: 5px;
}

.export-btn img {
    width: 100%;
    height: 24px;
}

.list-boxs h6 {
    margin: 0;
}

i.fa.fa-search {
    color: #000;
}

/* 22-may */

button {
    cursor: pointer;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 24px;
    background-color: #5200a5;
}

.custom-button-1 {
    width: 15%;
    display: flex;
    justify-content: end;
}

.list-box img {
    height: 51px;
}

.custom-button {
    display: flex;
    justify-content: end;
}

.custom-button button {
    background-color: #e6f2e2;
    color: #5200a5;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 500;
}

.col2 {
    width: 80%;
}

.first-last-name div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-last-name input {
    width: 100%;
    padding: 6px 12px;
    border-radius: 5px;
    outline: none;
    color: #2b292c;
    border: 1px solid #bfbbbb;
}

.last-name input {
    width: 100%;
}

.list-box img {
    height: 51px;
}

.list-box h6 {
    margin: 0;
}

.list-box span {
    display: block;
}

span.custom-class-1 {
    color: #5200a5;
    font-weight: 500;
}

input:disabled {
    background-color: #f5f5f5;
    color: #a1a1a1;
}

.side-bar a {
    color: #000000;
}

.wrapper form {
    padding: 0;
}

table {
    width: 100%;
}

input[type=email] {
    outline: none;
    border: 1px solid #bfbbbb;
    padding: 6px 12px;
    width: 100%;
}

input[type=text] {
    outline: none;
    border: 1px solid #bfbbbb;
    padding: 6px 12px;
    width: 100%;
}

.fa-angle-down {
    color: #fff;
}

.w3-school-row,
.edit-nav.row {
    display: flex;
    align-items: center;
}

ul.export-btn {
    padding-left: 0;
}

button.add-btn {
    width: 100%;
    color: #fff;
    background-color: #5200a5;
    border-radius: 5px;
}

ul.export-btn {
    width: 100%;
}

.list-box img {
    max-width: 51px;
    width: 100%;
    height: 51px;
}

header {
    padding: 14px 46px;
    max-width: 100%;
    color: #000;
    background-color: #f5f8fa;
}

.logout-wrap {
    padding: 20px 37px;
}

ul.dropdown-content {
    background-color: #fff;
    padding: 15px 21px;
    position: absolute;
    min-width: 147px;
    box-shadow: 0 7px 17px 0 rgba(0, 0, 0, .1);
    z-index: 999;
    right: 40px;
    display: none;
    margin-top: -7px;
    top: 139px;
}

ul.dropdown-content li a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

button.export-btn:hover ul.dropdown-content {
    display: block;
}

.header-heading {
    font-size: 26px;
    font-weight: 500;
}

.search-box input {
    border: none;
    background-color: #f5f8fa;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    width: 100%;
    color: #000;
}

.wrapper form {
    padding: 0;
}

.right-table {
    font-size: 14px;
    padding: 0px 45px 0px 45px;
}

.right-table1 {
    font-size: 14px;
    padding: 45px 45px 0px 45px;
}

.search-box {
    padding: 24px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.list-box {
    display: flex;
    align-items: center;
    padding: 17px;
    background-color: #e6f2e2;
    border-radius: 5px;
}

ul.export-btn {
    width: 100%;
}

.logout-wrap a {
    padding: 6px 12px;
    display: block;
}

.logout-wrap a:hover {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.innerdiv ul li a:hover {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.innerdiv ul li a.acive-link {
    background-color: #5200a5;
    color: #FFFFFF;
    border-radius: 7px;
}

.bottomwrap {
    padding-left: 46px;
    padding-right: 46px;
}

.right-table table {
    width: 100%;
}

.right-table table,
th,
td {
    border-bottom: 1px dotted black;
    padding: 15px 0px 15px 0px;
}

.right-table1 table,
th,
td {
    border-bottom: 1px dotted black;
    padding: 15px 0px 15px 0px;
}

.edit-nav.row img {
    height: 85px;
}

.edit-nav.row {
    align-items: center;
}

.f-mail input,
.f-lname input,
.f-name input {
    width: 100%;
    padding: 6px 12px;
    outline: none;
    border: 1px solid #bfbbbb;
    color: #2b292c;
}

.cancel-btn button {
    width: 100%;
    background-color: #5200a5;
    padding: 10px 14px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 14px;
}
.profile {
    text-align: left;
}
.form-main label {
    font-weight: 500;
}