{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} Add Carousel {% endblock title %}

{% block page_name %}Add Carousel{% endblock page_name %}
{% block table %}

<div class="right-table1">
    <div class=" form-main">
        <form id="addCarouselForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label for="name">Name <span id="required_star">*</span></label>
                    <select name="name" id="name" class="form-control">
                        <option value="">Select Name</option>
                        <option value="Prescription">Prescription</option>
                        <option value="Refer and Earn">Refer and Earn</option>
                        <option value="Reward">Reward</option>
                        <option value="Eye Test">Eye Test</option>
                        <option value="Eye Fatigue Test">Eye Fatigue Test</option>
                    </select>
                    <span class="help_text ">"This name is used for redirection."</span>
                </div>

                <div class="col-md-4 f-mail mt-4">
                    <label for="image">Image <span id="required_star">*</span></label>
                    <input type="file" name="image" id="image" class="form-control" />
                </div>

                <div class="col-md-4 f-name mt-4">
                    <label for="status">Status <span id="required_star">*</span></label>
                    <select name="status" id="status" class="form-control">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>

                <div class="col-md-3 cancel-btn mb-4 mt-5">
                    <button type="submit" class="btn btn-primary save-btn">Save</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('#name').select2({
                placeholder: 'Select Name',
                minimumResultsForSearch: Infinity
            });

            $('#status').select2({
                minimumResultsForSearch: Infinity
            });

            $("#addCarouselForm").submit(function (event) {
                event.preventDefault();

                let isValid = true;
                $(".form-control").each(function () {
                    if ($(this).hasClass("optional")) {
                        return true;
                    }
                    if ($(this).val().trim() === "") {
                        isValid = false;
                        $(this).addClass("is-invalid");
                    } else {
                        $(this).removeClass("is-invalid");
                    }
                });

                if (!isValid) {
                    showToaster("Please fill out all required fields.", "alert-error");
                    return;
                }

                // If valid, proceed with AJAX submission
                let formData = new FormData(this);

                $.ajax({
                    url: "{% url 'add_carousel_view' %}",
                    type: "POST",
                    data: formData,
                    processData: false,  // Important!
                    contentType: false,  // Important!
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    success: function (response) {
                        if (response.status) {
                            showToaster(response.message, "alert-success");
                            setTimeout(function () {
                                window.location.href = "/carousels/";
                            }, 2000);
                        } else {
                            showToaster(response.message, "alert-error");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        const response = xhr.responseJSON
                        showToaster(response.message, "alert-error");
                    }
                });
            });

        }); //document.ready
    </script>

    {% endblock table%}