black==24.4.2
Django==4.2.13
django-cors-headers==4.3.1
django-redis==5.4.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.7
pyotp==2.9.0
python-dotenv==1.0.0
stripe==9.7.0
weasyprint==60.2
pytz==2024.1
openpyxl==3.0.10
razorpay==1.4.2
geopy==2.4.1