{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} Prescription View{% endblock title %}

{% block page_name %}Prescription View{% endblock page_name %}

{% block table %}
<div class="right-table1">
    <div class=" form-main">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 f-lname d-flex view-status">
                    <label class="me-2" for="status">Status: </label>
                    <p class="pending-status {{ prescription_obj.status }}">{{ prescription_obj.status|title }}</p>
                </div>
                <div class="col-md-8 f-name mt-4 d-flex label-bold">
                    <div class="row w-100">

                    <div class="col-md-6 ">
                        <label for="user-full_name">Full Name:</label>
                    <p>{{ prescription_obj.user.get_full_name }}</p>
                </div>
                <div class="col-md-6">
                    <label for="user-full_name">Email:</label>
                    <p>{{ prescription_obj.user.email }}</p>
                </div>
                    <div class="col-md-6 ">   
                    <label for="user-full_name">Phone Numer:</label>
                    <p>{{ prescription_obj.user.phone_number }}</p>
                </div>
                <div class="col-md-6">
                    <label for="user-full_name">Points:</label>
                    <p>{{ prescription_obj.user.points }}</p>
                </div>
                    </div>
                </div>

                <div class="col-md-4 f-mail mt-4 file-img">
                    <label for="file">File <span id="required_star">*</span></label>
                    {% if prescription_obj.uploaded_file %}
                    <a class="view-img" href="{{ prescription_obj.uploaded_file.url }}" target="_blank">
                        {% comment %} <img src="{{ prescription_obj.uploaded_file.url }}" class="img-fluid" alt="Uploaded File"> {% endcomment %}
                        View File
                    </a>
                    {% endif %}
                </div>
                
                <div class="col-md-12 f-lname mt-4">
                    <label for="problem_faced">Problem Faced: </label>
                    <p>{% if prescription_obj.problem_faced %}{{ prescription_obj.problem_faced}} {% else %} No problems faced {% endif %}</p>
                </div>
                {% if prescription_obj.rejection_notes %}
                    <div class="col-md-12 f-lname mt-4">
                        <label for="problem_faced">Rejection Notes: </label>
                        <p>{{ prescription_obj.rejection_notes }}</p>
                    </div>
                {% endif %}

            </div>
            {% if prescription_obj.status == "pending" %}
            <div class="d-flex mb-4 mt-5 "> 
                <div class="Approve-btn me-2">
                    <button type="button" id="approve-btn" class="btn btn-primary1 save-btn col-md-3">Approve</button>
                </div>
                <div class="Reject-btn">
                    <button type="button" id="reject-btn" class="btn btn-primary1 save-btn col-md-3">Reject</button>
                </div>
            </div>
            {% endif %}
        </form>

        <!-- Modal for Rejection Notes -->
        <div class="modal fade" id="rejectionModal" tabindex="-1" aria-labelledby="rejectionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rejectionModalLabel">Rejection Notes</h5>
                        {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="rejection-notes">Notes</label>
                            <textarea id="rejection-notes" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-primary" id="confirm-reject-btn">Reject</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready(function() {
        $('#reject-btn').on('click', function() {
            $('#rejectionModal').modal('show');
        });

        $('#approve-btn').on('click', function() {
            makeAjaxRequest('approved', null);
        });

        $('#confirm-reject-btn').on('click', function() {
            var rejection_notes = $('#rejection-notes').val();
            makeAjaxRequest('rejected', rejection_notes);
        });

        function makeAjaxRequest(action, rejection_notes) {
            $.ajax({
                url: '{% url "change_status_view" prescription_obj.pk  %}',
                type: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    status: action,
                    rejection_notes: rejection_notes
                },
                success: function(response) {
                    if (response.status){
                        showToaster(response.message, "alert-success");
                        setTimeout(function() {
                            window.location.href = "{% url 'prescription_view' %}";
                        }, 2000);
                    }
                    else{
                        showToaster(response.message, "alert-error");
                    }
                },
                error: function(xhr, status, error) {
                    alert("Error: " + xhr.responseText)
                }
            });
        }
    });
</script>
{% endblock table%}