{% extends "base/side_bar.html" %}
{% block title %} Users {% endblock title %}

{% block page_name %}Users{% endblock page_name %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>Firt Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.age }}</td>
            <td>
                <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
                <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
                <a href="#"> <i class="fa-regular fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock table%}