{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} Edit User {% endblock title %}

{% block page_name %}Edit User{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class="edit-nav row">
        <div class="profile col-4">
            <img src="{% if user_obj.image %} {{user_obj.image.url}} {% else %}{% static "img/default_user_icon.png"%}{% endif %}" alt="">
        </div>
    </div>
    <div class=" form-main">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label>
                        First Name
                    </label>
                    <input type="text" name="first_name" value="{{ user_obj.first_name}}" />
                </div>
                <div class="col-md-4 f-lname mt-4">
                    <label>Last Name</label>
                    <input type="text" name="last_name" value="{{ user_obj.last_name}}" />
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label>E-mail</label>
                    <p id="email-p"></p>
                    <input type="email" name="email" id="email" value="{{ user_obj.email }}"/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label>Date Of Birth</label>
                    <input type="date" name="dob" value="{{ user_obj.dob|date:'Y-m-d'}}" />
                </div>
                <div class="col-md-4 f-name mt-4">
                    <label>
                        Phone Number
                    </label>
                    <input type="tel" name="phone_number" id="phone_number" value="{{ user_obj.phone_number }}"/>
                </div>
                <div class="col-md-3 cancel-btn mb-4 mt-5">
                    <button type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#email').prop('readonly', true);
        $('#phone_number').prop('readonly', true);
    });
</script>
{% endblock table%}