{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} Users {% endblock title %}

{% block page_name %}Users{% endblock page_name %}

{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-8">
            <div class="input-wrapp">
                <form action="{% url 'users_view' %}" method="get" id="searchForm">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="search" id="searchInput"
                            placeholder="Search by Names, Email, Phone Number and Referral Code"
                            value="{% if search %}{{ search }}{% endif %}">
                    </div>
                    <div>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button type="button" id="clearButton">Clear</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="export col-4">
            <ul>
                <li>
                    <button class="bulk-delete-btn me-2" id="bulkDeleteButton">Bulk Delete</button>
                </li>
                <li class="add-btn me-3">
                    <a href="{% url 'add_user_view' %}">Add<i class="fa-solid fa-plus ms-2"></i></a>
                </li>
                <li class="ex-li">
                    <a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                    <ul class="dropdown-content">
                        <li><a class="dropdown-item user_export_file" data-file-type="excel"
                                href="{% url 'user_export_view' 'excel' %}">Excel</a></li>
                        <li><a class="dropdown-item user_export_file" data-file-type="csv"
                                href="{% url 'user_export_view' 'csv' %}">CSV</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th><input type="checkbox" id="selectAll"></th>
        <th>Sr.No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Points</th>
        <th>Referral Code</th>
        <th>Account Status</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td><input type="checkbox" class="user-checkbox" data-id="{{ user.id }}"></td>
        <td>{{ forloop.counter0|add:users.start_index|default:forloop.counter }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.points }}</td>
        <td>{{ user.referral_code }}</td>
        {% if user.is_active %}
            <td ><span class="user-account-active change_user_status" data-user-id="{{ user.pk }}">Active</span></td>
        {% else %}
            <td ><span class="user-account-suspended change_user_status" data-user-id="{{ user.pk }}">Suspended</span></td>
        {% endif %}
        <td>{% if user.is_superuser %}Admin {% else %}User{% endif %}</td>
        <td>
            <a><i class="fa-solid fa-trash-can me-2" id="deleteButton" data-id="{{ user.id }}"></i></a>
            <a href="{% url "user_edit_view" user.id %}"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="{% url "user_detailed_view" user.id %}"><i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include "base/pagination.html" with paginated_data=users %}

{% include "base/delete_popup.html" with msg='Are you sure you want to delete this User?' %}
<script>
    $(document).ready(function () {
        // Change User status
        $(".change_user_status").click(function () {
            user_id = $(this).data("user-id");
            $current_user = $(this)

            $.ajax({
                url: "change-user-status/" + user_id,
                type: 'GET',
                success: function (data) {
                    if(data.status){
                        showToaster(data.message, "alert-success")
                        if(data.user_current_status){
                            $current_user.text("Active")
                            $current_user.removeClass("user-account-suspended")
                            $current_user.addClass("user-account-active")
                        }else{
                            $current_user.text("Suspended")
                            $current_user.removeClass("user-account-active")
                            $current_user.addClass("user-account-suspended")
                        }
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error making GET request:', error);
                }
            });
        });

        // Clear the search input value when the clear button is clicked
        $('#clearButton').click(function () {
            $('#searchInput').val('');
            $('#searchForm').submit();
        });

        let $row = null;

        // Delete the user when the delete button is clicked
        let deleteId = null;
        $(document).on('click', '#deleteButton', function () {
            $('#dlt-btn-overlay').css('display', 'flex');
            deleteId = $(this).data('id');
            $row = $(this).closest('tr');
        });

        // Delete the user when the confirm delete button is clicked
        $('#confirmDelete').click(function (event) {
            $.ajax({
                url: "user-delete/" + deleteId,
                type: 'GET',
                success: function (data) {
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster('User deleted successfully!', "alert-success");
                    $row.remove();
                },
                error: function (xhr, status, error) {
                    console.error('Error making GET request:', error);
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster(error, "alert-error");
                }
            });
            event.preventDefault();
        });

        // Hide the delete button overlay when the cancel delete button is clicked
        $('#cancelDelete').click(function () {
            $('#dlt-btn-overlay').css('display', 'none');
        });

        // Function to update the visibility of the bulk delete button
        function updateBulkDeleteButton() {
            if ($('.user-checkbox:checked').length > 1) {
                $('#bulkDeleteButton').show();
            } else {
                $('#bulkDeleteButton').hide();
            }
        }

        // Initial call to hide the bulk delete button if no checkboxes are checked
        updateBulkDeleteButton();

        // Select all checkboxes when the select all checkbox is clicked
        $('#selectAll').click(function () {
            $('.user-checkbox').prop('checked', $(this).prop('checked'));
            updateBulkDeleteButton();
        });

        // Update bulk delete button visibility when individual checkboxes are clicked
        $(document).on('change', '.user-checkbox', function () {
            if (!$(this).prop('checked')) {
                $('#selectAll').prop('checked', false);
            } else if ($('.user-checkbox:checked').length === $('.user-checkbox').length) {
                $('#selectAll').prop('checked', true);
            }
            updateBulkDeleteButton();
        });

        $(".user_export_file").click(function (event) {
            event.preventDefault();

            var file_type = $(this).data('file-type');
            let selectedIds = [];
            $('.user-checkbox:checked').each(function () {
                selectedIds.push($(this).data('id'));
            });

            let formData = {
                'selected_ids': selectedIds,
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
            };

            $.ajax({
                url: "user-export/" + file_type,
                type: 'POST',
                data: formData,
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data, status, xhr) {
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }

                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        window.navigator.msSaveBlob(data, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(data);

                        if (filename) {
                            var a = document.createElement("a");
                            if (typeof a.download === 'undefined') {
                                window.location.href = downloadUrl;
                            } else {
                                a.href = downloadUrl;
                                a.download = filename;
                                document.body.appendChild(a);
                                a.click();
                            }
                        } else {
                            window.location.href = downloadUrl;
                        }

                        setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                    }
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster('Users exported successfully!', "alert-success");
                },
                error: function (xhr, status, error) {
                    console.error('Error making POST request:', error);
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster(error, "alert-error");
                }
            })
        })

        // Bulk delete users when the bulk delete button is clicked
        $('#bulkDeleteButton').click(function () {
            let selectedIds = [];
            $('.user-checkbox:checked').each(function () {
                selectedIds.push($(this).data('id'));
            });

            if (selectedIds.length > 0) {
                $('#dlt-btn-overlay').css('display', 'flex');

                $('#confirmDelete').off('click').on('click', function (event) {
                    $('#dlt-btn-overlay').css('display', 'none');
                    let formData = {
                        'selected_ids': selectedIds,
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    };

                    $.ajax({
                        url: "/users/user-bulk-delete-view",
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            if (data.status) {
                                showToaster(data.message, "alert-success");
                                $('.user-checkbox:checked').closest('tr').remove();
                                updateBulkDeleteButton();
                            }else{
                                showToaster(data.message, "alert-error")
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error making POST request:', error);
                            $('#dlt-btn-overlay').css('display', 'none');
                            showToaster(error, "alert-error");
                        }
                    });
                    event.preventDefault();
                });

                $('#cancelDelete').click(function () {
                    $('#dlt-btn-overlay').css('display', 'none');
                });
            } else {
                showToaster('No users selected for deletion!', "alert-error");
            }
        });

    }); //document.ready
</script>
{% endblock table %}