{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} Users {% endblock title %}

{% block page_name %}Users{% endblock page_name %}


{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-8">
            <div class="input-wrapp">
                <form action="{% url 'users_view' %}" method="get" id="searchForm">
                    <div> 
                        <input type="text" name="search" id="searchInput" placeholder="Search by Names, Email, Phone Number and Referral Code" value="{% if search %}{{ search }}{% endif %}">
                    </div>
                    <div>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button type="button" id="clearButton">Clear</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="export col-4">
            <ul>
                <li class="add-btn me-3">
                    <a href="{% url 'add_user_view' %}">Add<i class="fa-solid fa-plus ms-2"></i></a>
                </li>
                <li class="ex-li">
                    <a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                    <ul class="dropdown-content">
                        <li><a class="dropdown-item" href="{% url 'user_export_view' 'excel' %}">Excel</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_export_view' 'csv' %}">CSV</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Points</th>
        <th>Referral Code</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.points }}</td>
            <td>{{ user.referral_code }}</td>
            <td>{% if user.is_superuser %}Admin {% else %}User{% endif %}</td>
            <td>
                <a><i class="fa-solid fa-trash-can me-2" id="deleteButton" data-id="{{ user.id }}"></i></a>
                <a href="{% url "user_edit_view" user.id %}"><i class="fa-solid fa-pen me-2"></i></a>
                <a href="{% url "user_detailed_view" user.id %}"><i class="fa-regular fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>

<div id="dlt-btn-overlay" class="dlt-btn-overlay" style="display: none;">
    <div class="dlt-popup">
        <h4>Are you sure you want to delete this User?</h4>
        <div class="dlt-buttons">
            <button class="pop-confirm-btn" id="confirmDelete">Yes, delete it</button>
            <button class="pop-confirm-btn" id="cancelDelete">No, keep it</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Clear the search input value when the clear button is clicked
        $('#clearButton').click(function(){
            $('#searchInput').val('');
            $('#searchForm').submit();
        });

        let $row = null;

        // Delete the user when the delete button is clicked
        let deleteId = null;
        $(document).on('click', '#deleteButton', function () {
            $('#dlt-btn-overlay').css('display', 'flex');
            deleteId = $(this).data('id');
            $row = $(this).closest('tr');
        });

        // Delete the user when the confirm delete button is clicked
        $('#confirmDelete').click(function (event) {
            $.ajax({
                url: "user-delete/" + deleteId,
                type: 'GET',
                success: function (data) {
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster('User deleted successfully!', "alert-success");
                    $row.remove();
                },
                error: function (xhr, status, error) {
                    console.error('Error making GET request:', error);
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster(error, "alert-error");
                }
            });
            event.preventDefault();
        });

        // Hide the delete button overlay when the cancel delete button is clicked
        $('#cancelDelete').click(function () {
            $('#dlt-btn-overlay').css('display', 'none');
        });
    });
</script>
{% endblock table %}
