{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} View User {% endblock title %}

{% block page_name %}View User{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class="edit-nav row">
        <div class="profile col-4">
            <img src="{% if user_obj.image %}{{ user_obj.image.url }} {% else %} {% static "img/default_user_icon.png" %} {% endif %}">
        </div>
    </div>
    <div class=" form-main">
        <form>
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label>
                        First Name
                    </label>
                    <input type="text" value="{{ user_obj.first_name}}"/>
                </div>
                <div class="col-md-4 f-lname mt-4">
                    <label>Last Name</label>
                    <input type="text" value="{{ user_obj.last_name}}"/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label>E-mail</label>
                    <input type="email"value="{{ user_obj.email}}" />
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label>Date Of Birth</label>
                    <input type="date" value="{{ user_obj.dob|date:'Y-m-d'}}"/>
                </div>
                <div class="col-md-4 f-name mt-4">
                    <label>
                        Phone Number
                    </label>
                    <input type="number" value="{{ user_obj.phone_number}}"/>
                </div>
                <div class="col-md-4 f-lname mt-4">
                    <label>Points</label>
                    <input type="number" value="{{ user_obj.points}}"/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label>Latitude</label>
                    <input type="number" value="{{ user_obj.latitude}}"/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label>Longitude</label>
                    <input type="number" value="{{ user_obj.longitude}}"/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label> Referral Code</label>
                    <input type="text" value="{{ user_obj.referral_code}}"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock table%}