{% extends "base/side_bar.html" %}
{% block title %} Eye Fatigue {% endblock title %}

{% block page_name %}Eye Fatigue{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-5">
            <div class="input-wrapp">
                <input type="text" placeholder="Search by names,type and value">
                <!-- <button>Search</button> -->
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="export col-4">
            <ul>
            <li class="add-btn me-3" ><a href="{% url "add_offer_view" %}">Add<i class="fa-solid fa-plus ms-2"></i> </a></button>
                <div class="drop-downmenu">
            <li class="ex-li" ><a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                <ul class="dropdown-content">
                    <li class="mb-1"><a href="#">PDF</a></li>
                    <li class="mb-1"><a href="#">Excel</a></li>
                    <li><a href="#">CSV</a></li>
                </ul>
            </li>
        </ul>
            
        </div>
    </div>
</div>
{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>User</th>
        <th>Report ID</th>
        <th>Is Fatigue Right</th>
        <th>Is Mild Tiredness Right</th>
        <th>Is Fatigue Left</th>
        <th>Is Mild Tiredness Left</th>
        <th>Action</th>
    </tr>
    {% for report in eye_test_reports %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ report.user }}</td>
            <td>{{ report.report_id }}</td>
            <td>{{ report.is_fatigue_right }}</td>
            <td>{{ report.is_mild_tiredness_right }}</td>
            <td>{{ report.is_fatigue_left }}</td>
            <td>{{ report.is_mild_tiredness_left }}</td>
            <td>
                {% comment %} <a href=""><i class="fa-solid fa-trash-can me-2"></i></a> {% endcomment %}
                {% comment %} <a href=""><i class="fa-solid fa-pen me-2"></i></a> {% endcomment %}
                <!--<a href="{% url "offer_detailed_view" offer.offer_id %}"> <i class="fa-regular fa-eye"></i></a> -->
                <a href="#" class="view-offer-details" data-offer-id="{{ offer.offer_id }}"><i class="fa-regular fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>

<!-- Offer Detail Modal -->
<div class="modal fade" id="offerDetailModal" tabindex="-1" role="dialog" aria-labelledby="offerDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offerDetailModalLabel">Offer Details</h5>
            </div>
            <div class="modal-body">
                <p><strong>Title:</strong> <span id="modal-title"></span></p>
                <p><strong>Description:</strong> <span id="modal-description"></span></p>
                <p><strong>Expiry Date:</strong> <span id="modal-expiry_date"></span></p>
                <p><strong>Status:</strong> <span id="modal-status"></span></p>
                <p><strong>Required Points:</strong> <span id="modal-required_points"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modal_dismis" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Offer Detail Modal -->

<script>
    $(document).ready(function() {
        $('.view-offer-details').click(function(event) {
            event.preventDefault();
            var offerId = $(this).data('offer-id');
            var modal = $('#offerDetailModal');

            $.ajax({
                url: '/offers/offer-detailed-view/' + offerId,
                method: 'GET',
                success: function(data) {
                    modal.find('#modal-title').text(data.title);
                    modal.find('#modal-description').text(data.description);
                    modal.find('#modal-expiry_date').text(data.expiry_date);
                    modal.find('#modal-status').text(data.status);
                    modal.find('#modal-status').addClass(data.status)
                    modal.find('#modal-required_points').text(data.required_points);
                    modal.modal('show');
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching offer details:", error);
                    alert("An error occurred while fetching offer details. Please try again.");
                }
            });
        });

        $("#modal_dismis").on("click", function(e) {
            e.preventDefault();
            $('#offerDetailModal').modal('hide');
        })
    });
    </script>
    

{% endblock table%}