{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} Offer View {% endblock title %}

{% block page_name %}Offer View{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class=" form-main">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control" value="{{ offer_obj.title}}" readonly/>
                </div>
                <div class="col-md-4 f-lname mt-4">
                    <label for="description">Description</label>
                    <input name="description" id="description" class="form-control" value="{{ offer_obj.description }}" readonly/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label for="image">Image</label>
                    <input type="file" name="image" id="image" value="{{ offer_obj.image}}" class="form-control" readonly/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label for="expiry_date">Expiry Date</label>
                    <input type="date" name="expiry_date" id="expiry_date" value="{{ offer_obj.expiry_date|date:'Y-m-d' }}" class="form-control" readonly/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label for="status">Status</label>
                    <input type="text" name="status" id="status" value="{{ offer_obj.status }}" class="form-control" readonly/>
                </div>
                <div class="col-md-4 f-lname mt-4">
                    <label for="required_points">Required Points</label>
                    <input type="number" name="required_points" id="required_points" value="{{ offer_obj.required_points}}" class="form-control" readonly/>
                </div>
            </div>
        </form>
</div>
<script>
    $(document).ready(function() {
        $("form input").attr("readonly", true);
        $("form input[type='file']").attr("disabled", true);
    });
</script>
{% endblock table%}