{% extends "base/side_bar.html" %}
{% block title %}Redeemed Offers {% endblock title %}

{% block page_name %}Redeemed Offers{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-5">
            <div class="input-wrapp">
                <input type="text" placeholder="Search by names,type and value">
                <!-- <button>Search</button> -->
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="export col-4">
            <ul>
            <li class="add-btn me-3"><a>Add<i class="fa-solid fa-plus ms-2"></i> </a></button>
                <div class="drop-downmenu">
            <li class="ex-li" ><a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                <ul class="dropdown-content">
                    <li class="mb-1"><a href="#">PDF</a></li>
                    <li class="mb-1"><a href="#">Excel</a></li>
                    <li><a href="#">CSV</a></li>
                </ul>
            </li>
        </ul>
            
        </div>
    </div>
</div>
{% endblock nav_bar %}
{% block table %}
<table>

    <tr>
        <th>Sr.No</th>
        <th>User</th>
        <th>offer Title</th>
        <th>status</th>
        <th>Redeemed On</th>
        <th>Action</th>
    </tr>
    {% for redeemed_offer in redeemed_offers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ redeemed_offer.user }}</td>
            <td>{{ redeemed_offer.offer.title }}</td>
            <td>{{ redeemed_offer.status|title }}</td>
            <td>{{ redeemed_offer.redeemed_on }}</td>
            <td>
                <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
                <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
                <a href="#"> <i class="fa-regular fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock table%}