<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/jquery-3.7.1.js" %}"></script>
</head>
<body>
    {% include "message.html" %}
    {% block body %}
    {% endblock body %}
</body>
</html>