{% extends "base/side_bar.html" %}
{% load static %}
{% block title %} My Profile {% endblock title %}

{% block page_name %}My Profile{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class=" form-main">
        <form method="POST" id="profile-form">
            {% csrf_token %}
            <div class="edit-nav row">
                <div class="col-4">
                <div class="profile  my_profile_container">
                    <img src="{% if request.user.image %} {{request.user.image.url}} {% else %}{% static "img/default_user_icon.png"%}{% endif %}" alt="Profile Image" class="my_profile_image" id="profile_image_id">
                    <div class="profile_img_overlay" onclick="document.getElementById('fileInput').click();">
                        <i class="profile_pen_icon">&#9998;</i> <!-- Pen icon -->
                    </div>
                    <input type="file" id="fileInput" name="image" accept="image/*" onchange="loadFile(event)">
                </div>
            </div>

            </div>
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label>
                        First Name
                    </label>
                    <input type="text" name="first_name" value="{{ request.user.first_name}}" />
                </div>
                <div class="col-md-4 f-lname mt-4">
                    <label>Last Name</label>
                    <input type="text" name="last_name" value="{{ request.user.last_name}}" />
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label>E-mail</label>
                    {% comment %} <p id="email-p"></p> {% endcomment %}
                    <input type="email" name="email" id="email" value="{{ request.user.email }}"/>
                </div>
                <div class="col-md-4 f-mail mt-4">
                    <label>Date Of Birth</label>
                    <input type="date" name="dob" value="{{ request.user.dob|date:'Y-m-d'}}" />
                </div>
                <div class="col-md-4 f-name mt-4">
                    <label>
                        Phone Number
                    </label>
                    <input type="tel" name="phone_number" id="phone_number" value="{{ request.user.phone_number }}"/>
                </div>
                
            </div>
            <div class="col-md-3 cancel-btn mb-4 mt-5">
                <button type="submit">Update Profile</button>
            </div>
            
        </form>
    </div>
</div>
<script>
    function loadFile(event) {
        var output = document.getElementById('profile_image_id');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // Free memory
        }
    }

    $(document).ready(function() {
        // Re-ensure the fields are readonly
        $('#email').prop('readonly', true);
        $('#phone_number').prop('readonly', true);

        // Get the original values
        var originalEmail = '{{ request.user.email }}';
        var originalPhoneNumber = '{{ request.user.phone_number }}';

        // Ensure the values haven't changed
        var currentEmail = $('#email').val();
        var currentPhoneNumber = $('#phone_number').val();

        if (currentEmail !== originalEmail || currentPhoneNumber !== originalPhoneNumber) {
            alert('Email or phone number cannot be modified.');
            return false; // Prevent the form submission
        }

        $('#profile-form').on('submit', function(event){
            event.preventDefault();

            var formData = new FormData(this);
            $.ajax({
                url: "{% url 'update_profile_view' %}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response){
                    if (response.status) {
                        showToaster(response.message, "alert-success");
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        showToaster(response.message, "alert-error");
                    }
                },
                error: function(xhr, status, error){
                    console.error(xhr.responseText);
                    alert('An error occurred while updating your profile.');
                }
            });
        });
    });
</script>
{% endblock table%}