{% extends "base/side_bar.html" %}
{% block title %} Offers {% endblock title %}

{% block page_name %}Offers{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">

        <div class="col-5">
            <div class="input-wrapp">
                <input type="text" placeholder="Search by names, type and value">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div class="export col-4">
            <ul>
                <li class="add-btn me-3">
                    <a href="{% url 'add_offer_view' %}">Add<i class="fa-solid fa-plus ms-2"></i></a>
                </li>
                <li class="ex-li">
                    <a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                    <ul class="dropdown-content">
                        <li class="mb-1"><a href="#">PDF</a></li>
                        <li class="mb-1"><a href="#">Excel</a></li>
                        <li><a href="#">CSV</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock nav_bar %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>Title</th>
        <th>Description</th>
        <th>Expiry Date</th>
        <th>Status</th>
        <th>Required Points</th>
        <th>Action</th>
    </tr>
    {% for offer in offers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ offer.title }}</td>
            <td>{{ offer.description }}</td>
            <td>{{ offer.expiry_date }}</td>
            <td class="{{ offer.status }}" >{{ offer.status|title }}</td>
            <td>{{ offer.required_points }}</td>
            <td>
                <a><i class="fa-solid fa-trash-can me-2" id="deleteButton" data-offer-id="{{ offer.offer_id }}"></i></a>
                <a href="{% url "edit_offer_view" offer.offer_id %}"><i class="fa-solid fa-pen me-2"></i></a>
                <a href="#" class="view-offer-details" data-offer-id="{{ offer.offer_id }}"><i class="fa-regular fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>

<!-- Offer Detail Modal -->
<div class="modal fade" id="offerDetailModal" tabindex="-1" role="dialog" aria-labelledby="offerDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offerDetailModalLabel">Offer Details</h5>
            </div>
            <div class="modal-body">
                <p><strong>Title:</strong> <span id="modal-title"></span></p>
                <p><strong>Description:</strong> <span id="modal-description"></span></p>
                <p><strong>Expiry Date:</strong> <span id="modal-expiry_date"></span></p>
                <p><strong>Status:</strong> <span id="modal-status"></span></p>
                <p><strong>Required Points:</strong> <span id="modal-required_points"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modal_dismis" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Offer Detail Modal -->

<!-- offer delete popup -->
<div id="dlt-btn-overlay" class="dlt-btn-overlay" style="display: none;">
    <div class="dlt-popup">
        <h2>Are you sure you want to delete this Offer?</h2>
        <div class="dlt-buttons">
            <button class="pop-confirm-btn" id="confirmDelete">Yes, delete it</button>
            <button class="pop-confirm-btn" id="cancelDelete">No, keep it</button>
        </div>
    </div>
</div>
<!-- offer delete popup end -->

<script>
    $(document).ready(function() {
        // Delete the offer when the delete button is clicked
        let deleteId = null;
        $(document).on('click', '#deleteButton', function(event) {
            event.preventDefault();
            $('#dlt-btn-overlay').css('display', 'flex');
            deleteId = $(this).data("offer-id");
            console.log("Delete button clicked, offer ID:", deleteId);
        });

        // Delete the user when the confirm delete button is clicked
        $('#confirmDelete').click(function(event) {
            event.preventDefault();
            console.log("Confirm delete clicked, deleting offer ID:", deleteId);
            $('#dlt-btn-overlay').css('display', 'none');
            $.ajax({
                url: "delete-offer-view/" + deleteId,
                type: 'GET',
                success: function(data) {
                    if(data.status){
                        showToaster(data.message, "alert-success");
                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    }else{
                        showToaster(data.message, "alert-error");
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error making GET request:', error);
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster(error, "alert-error");
                }
            });
        });

        // Hide the delete button overlay when the cancel delete button is clicked
        $('#cancelDelete').click(function(event) {
            event.preventDefault();
            console.log("Cancel delete clicked");
            $('#dlt-btn-overlay').css('display', 'none');
        });

        // View offer details when the view offer details button is clicked
        $('.view-offer-details').click(function(event) {
            event.preventDefault();
            var offerId = $(this).data('offer-id');
            var modal = $('#offerDetailModal');
            console.log("View offer details clicked, offer ID:", offerId);

            $.ajax({
                url: '/offers/offer-detailed-view/' + offerId,
                method: 'GET',
                success: function(data) {
                    console.log("Offer details fetched successfully:", data);
                    modal.find('#modal-title').text(data.title);
                    modal.find('#modal-description').text(data.description);
                    modal.find('#modal-expiry_date').text(data.expiry_date);
                    modal.find('#modal-status').text(data.status);
                    modal.find('#modal-status').addClass(data.status);
                    modal.find('#modal-required_points').text(data.required_points);
                    modal.modal('show');
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching offer details:", error);
                    alert("An error occurred while fetching offer details. Please try again.");
                }
            });
        });

        // Hide the modal when the dismiss button is clicked
        $("#modal_dismis").on("click", function(event) {
            event.preventDefault();
            console.log("Modal dismiss clicked");
            $('#offerDetailModal').modal('hide');
        });
    });
    
</script>
{% endblock table%}