{% extends "base/side_bar.html" %}
{% block title %}Redeemed Offers {% endblock title %}

{% block page_name %}Redeemed Offers{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-9">
            <div class="input-wrapp">
                <form action="{% url "redeemed_offers_view" %}" method="get" id="searchForm">
                    <div>
                        <input type="text" name="search" id="searchInput"
                            placeholder="Search by Report ID, Name, Email and Phone"
                            value="{{ search }}">
                    </div>
                    <div class="filter-dropdown">
                        {% comment %} <label>From Date</label>{% endcomment %}
                        <input type="text" name="start_date_filter" id="start_date_filter" placeholder="Start Date"
                            value="{{ start_date_filter|date:'Y-m-d' }}">
                    </div>
                    <div class="filter-dropdown">
                        {% comment %} <label>To Date</label> {% endcomment %}
                        <input type="text" name="end_date_filter" id="end_date_filter" placeholder="End Date"
                            value="{{ end_date_filter|date:'Y-m-d' }}">
                    </div>
                    <div class="filter-dropdown">
                        <select name="status_filter" id="status_filter">
                            <option value="">Status</option>
                            <option value="pending" {% if status_filter == 'pending' %}selected{% endif %}>Pending</option>
                            <option value="dispatched" {% if status_filter == 'dispatched' %}selected{% endif %}>Dispatched</option>
                            <option value="emailed" {% if status_filter == 'emailed' %}selected{% endif %}>Emailed</option>
                        </select>
                    </div>
                    <div class="d-flex mb-2">
                        <div>
                            <button type="submit">Apply</button>
                            <button type="button" id="clearButton">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="export col-3">
            <ul>
                <li class="ex-li">
                    <a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                    <ul class="dropdown-content">
                        <li class="dropdown-item"><a href="#">PDF</a></li>
                        <li class="dropdown-item"><a href="#">Excel</a></li>
                        <li class="dropdown-item"><a href="#">CSV</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock nav_bar %}
{% block table %}
<table>

    <tr>
        <th>Sr.No</th>
        <th>User</th>
        <th>offer Title</th>
        <th>status</th>
        <th>Redeemed On</th>
        <th>Action</th>
    </tr>
    {% for redeemed_offer in redeemed_offers %}
        <tr>
            <td>{{ forloop.counter0|add:redeemed_offers.start_index|default:forloop.counter }}</td>
            <td>{{ redeemed_offer.user }}</td>
            <td>{{ redeemed_offer.offer.title }}</td>
            <td>{{ redeemed_offer.status|title }}</td>
            <td>{{ redeemed_offer.redeemed_on }}</td>
            <td>
                <a href="{% url "edit_redeemed_offer_view" redeemed_offer.pk %}"><i class="fa-solid fa-pen me-2"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>
{% include "base/pagination.html" with paginated_data=redeemed_offers %}

<script>
    $(document).ready(function () {
        $("#start_date_filter, #end_date_filter").datepicker({
            dateFormat: "yy-mm-dd"
        }).attr("readonly", "readonly");

        $('#status_filter').select2({
            placeholder: "Status",
            minimumResultsForSearch: Infinity
        });

        $('#clearButton').click(function () {
            $('#searchInput').val('');
            $('input[type="text"]').val('');
            $('select[name="status_filter"]').val('');
            $('#searchForm').submit();
        });

    });

</script>
{% endblock table%}