{% extends "base/side_bar.html" %}
{% load static %}
{% block title %}{{ static_page_obj.title }}{% endblock title %}

{% block page_name %}{{ static_page_obj.title }}{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class="foundational_content mb-3">
        <a href="javascript:void(0);" id="print"><i class="fa-solid fa-print me-2"></i></a>
        <a href="#" id="download"><i class="fa-solid fa-file-arrow-down"></i></a>
    </div>
    <div class="form-main" id="printable-content">
        {{ static_page_obj.content|safe }}
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#print').on('click', function() {
            var printContents = $('#printable-content').html();
            var originalContents = $('body').html();

            $('body').html(printContents);
            window.print();
            $('body').html(originalContents);
        });

        $("#download").click(function (event) {
            event.preventDefault();

            $.ajax({
                url: "{% url 'download_static_page_view' static_page_obj.id %}",
                type: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data, status, xhr) {
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }

                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        window.navigator.msSaveBlob(data, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(data);

                        if (filename) {
                            var a = document.createElement("a");
                            if (typeof a.download === 'undefined') {
                                window.location.href = downloadUrl;
                            } else {
                                a.href = downloadUrl;
                                a.download = filename;
                                document.body.appendChild(a);
                                a.click();
                            }
                        } else {
                            window.location.href = downloadUrl;
                        }

                        setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                    }
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster('File Downloaded successfully!', "alert-success");
                },
                error: function (xhr, status, error) {
                    console.error('Error making GET request:', error);
                    $('#dlt-btn-overlay').css('display', 'none');
                    showToaster(error, "alert-error");
                }
            })
        })
    });
</script>

{% endblock table %}