<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-5">
            <div class="input-wrapp">
                <input type="text" placeholder="Search by names,type and value">
                <!-- <button>Search</button> -->
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="export col-4">
            <ul>
            <li class="add-btn me-3"><a>Add<i class="fa-solid fa-plus ms-2"></i> </a></button>
                <div class="drop-downmenu">
            <li class="ex-li" ><a class="export-btn" href="#">Export<i class="fa-solid fa-file-export ms-2"></i></a>
                <ul class="dropdown-content">
                    <li class="mb-1"><a href="#">PDF</a></li>
                    <li class="mb-1"><a href="#">Excel</a></li>
                    <li><a href="#">CSV</a></li>
                </ul>
            </li>
        </ul>
            
        </div>
    </div>
</div>
