<style>
    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .step-links {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .pagination-link {
        text-decoration: none;
        color: #ffffff;
        background-color: #5200a5;
        padding: 8px 16px;
        border: 1px solid #5200a5;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
    }

    .pagination-link:hover {
        background-color: #5200a5;
        border-color: #5200a5;
        color: #fff;
    }

    .current {
        font-weight: bold;
        padding: 8px 16px;
    }

    .first,
    .last {
        font-weight: bold;
    }
</style>


<div class="pagination">
    <span class="step-links">
        {% if paginated_data.has_previous %}
        <a href="?page=1" class="pagination-link first">&laquo; First</a>
        <a id="prevPage" href="?page={{ paginated_data.previous_page_number }}" class="pagination-link">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ paginated_data.number }} of {{ paginated_data.paginator.num_pages }}.
        </span>

        {% if paginated_data.has_next %}
        <a id="nextPage" href="?page={{ paginated_data.next_page_number }}" class="pagination-link">Next</a>
        <a id="nextPage" href="?page={{ paginated_data.paginator.num_pages }}" class="pagination-link last">Last
            &raquo;</a>
        {% endif %}
    </span>
</div>