{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}{% endblock title %}
{% block body %}
<div class="main-wrapper">
    <div class="side-bar">
        <div class="inner-div">
            <h5><a href="/" style="color: rgb(38, 50, 56);">Admin</a></h5>
            <div class="side-list">
                <ul>
                    <li><a href="/" {% if request.path|split_path == "home" %}class="active-link"{% endif %}><i class="fa-solid fa-house me-2"></i>Home</a></li>
                    <li><a href="{% url "users_view" %}" {% if request.path|split_path == "users" %}class="active-link"{% endif %}><i class="fa-solid fa-user me-2"></i>User</a></li>
                    <li><a href="{% url "offers_view" %}" {% if request.path|split_path == "offers" %}class="active-link"{% endif %}><i class="fa-solid fa-receipt me-2"></i>Offers</a></li>
                    <li><a href="{% url "prescription_view" %}" {% if request.path|split_path == "prescription" %}class="active-link"{% endif %}><i class="fa-solid fa-prescription me-2"></i>Uploaded Prescription</a></li>
                    <li><a href="{% url "notification_view" %}" {% if request.path|split_path == "notification" %}class="active-link"{% endif %}><i class="fa-solid fa-bell me-2"></i>Notification</a></li>
                    <li><a href="{% url "redeemed_offers_view" %}" {% if request.path|split_path == "redeemed-offers" %}class="active-link"{% endif %}><i class="fa-solid fa-hand-holding-dollar me-2"></i>Redeemed Offers</a></li>
                    <li><a href="{% url "carousels_view" %}" {% if request.path|split_path == "carousels" %}class="active-link"{% endif %}><i class="fa-solid fa-mountain-sun me-2"></i>Carousels</a></li>
                    <li><a href="{% url "subscription_view" %}" {% if request.path|split_path == "subscription" %}class="active-link"{% endif %}><i class="fa-solid fa-money-check-dollar me-2"></i>Subscription Plans</a></li>
                    <li><a href="{% url "user_subscription_plans_view" %}" {% if request.path|split_path == "user-subscription" %}class="active-link"{% endif %}><i class="fa-solid fa-calendar-check me-2"></i>User Subscription</a></li>
                    <li><a href="{% url "eye_test_view" %}" {% if request.path|split_path == "eye-test" %}class="active-link"{% endif %}><i class="fa-solid fa-arrows-to-eye me-2"></i>Eye Test</a></li>
                    <li><a href="{% url "eye_fatigue_view" %}" {% if request.path|split_path == "eye-fatigue" %}class="active-link"{% endif %}><i class="fa-solid fa-eye me-2"></i>Eye Fatigue</a></li>
                    <li><a href="{% url "static_pages_view" %}" {% if request.path|split_path == "static-pages" %}class="active-link"{% endif %}><i class="fa-solid fa-newspaper me-2"></i>Flat Pages</a></li>
                    <li><a href="{% url "settings_view" %}" {% if request.path|split_path == "settings" %}class="active-link"{% endif %}><i class="fa-solid fa-sliders me-2"></i>Settings</a></li>
                    <li><a href="{% url "business_view" %}" {% if request.path|split_path == "business" %}class="active-link"{% endif %}><i class="fa-solid fa-briefcase me-2"></i>Business</a></li>
                    <li><a href="{% url "store_view" %}" {% if request.path|split_path == "store" %}class="active-link"{% endif %}><i class="fa-solid fa-store me-2"></i>Store</a></li>
                    <li><a href="{% url "appointment_listing_view" %}" {% if request.path|split_path == "appointment" %}class="active-link"{% endif %}><i class="fa-regular fa-calendar-check me-2"></i>Appointments</a></li>
                    <li><a href="{% url "frame_listing_view" %}" {% if request.path|split_path == "products" %}class="active-link"{% endif %}><i class="fa-solid fa-glasses me-2"></i>Frames</a></li>
                    <li><a href="{% url "trash_view" %}" {% if request.path|split_path == "trash" %}class="active-link"{% endif %}><i class="fa-solid fa-trash me-2"></i>Trash</a></li>
                    {% comment %} <li><a href="{% url "credentials_view" %}" {% if request.path|split_path == "credentials" %}class="active-link"{% endif %}><i class="fa-solid fa-key me-2"></i>Credentials</a></li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
    <div class="right-bar">
        <header class="header-main row">
            <div class=" header-heading col-9">
                {% block page_name %}
                {% endblock page_name %}
            </div>

            <div class="col-3 root-main">
                <a class="notify-icon me-3" href="#">
                    <i class="fa-regular fa-bell " id="notification-bell"></i><span class="notify-dot" id="red_dot"></span>
                </a>  
                <div class="login-wrap">
                    <img src="{% if request.user.image %}{{request.user.image.url}}{% else %}{% static 'img/default_user_icon.png' %}{% endif %}" alt="User Icon" class="profile-image" id="profileImage" />
                    <span class="ms-3">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                    <div class="popup-menu" id="popupMenu">
                        <a href="{% url "my_profile_view" %}"><i class="fa-solid fa-user me-2"></i>Profile</a>
                        <a href="{% url "logout_view" %}"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Logout</a>
                    </div>
                </div>
            </div>
            <div class="notification-screen" id="notification-screen">
                <div class="notification-top">
                    <h3>Notifications</h3> <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="notification-data">
                    <div class="card-notification-main mt-2">
                        <div class="card-notification">
                            <!-- making ajax request to get data here -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block nav_bar %}{% endblock nav_bar %}
        <div class="right-table">
            {% block table %}
            {% endblock table %}
        </div>
    </div>
</div>
<script>
    function mark_as_read(notification_id) {
        console.log("notification_id :: ", notification_id)
        const URL = '{% url "mark_this_read_view" %}'
        $.ajax({
            url: URL,
            type: 'POST',
            data: {
                "id": notification_id,
                "csrfmiddlewaretoken": '{{ csrf_token }}'
            },
            success: function(response){
                if (response.status){
                    if(response.is_read_available){
                        $("#red_dot").css("display", "block");
                    }else{
                        $("#red_dot").css("display", "none");
                    }
                    var notificationIdSelector = "#"+notification_id
                    $(notificationIdSelector).css("display", "none");
                }else{
                    console.log("response.status :: ", response.status)
                }
            }
        });
    }

    $(document).ready(function() {
        $.ajax({
            url: "{% url 'my_notification_view' %}",
            type: 'GET',
            success: function(response){

                if (response.is_read_available){
                    $("#red_dot").css("display", "block");
                }else{
                    $("#red_dot").css("display", "none");
                }

                var newItems = $.map(response.data, function(i) {
                    $(".card-notification").empty();


                    var blue_dot_css = "";
                    if (i.is_read) {
                        blue_dot_css = "display: none;";
                    }

                    return `
                    <div class="notification-main mb-3">
                        <div class="card-header-main">
                            <h5 class="mb-0">
                                <button class="btn btn-link btn-text-notify" type="button" onclick="mark_as_read('${i.id}')" data-toggle="collapse" data-id="${i.id}" data-target="#collapseMessage${i.id}" aria-expanded="true" aria-controls="collapseMessage">
                                    ${i.title} <p>${i.created_on}</p>
                                    <span class="blue-dot" id="${i.id}" style="${blue_dot_css}">dot</span>
                                </button>
                            </h5>
                            
                        </div>
            
                        <div id="collapseMessage${i.id}" class="collapse">
                            <div class="card-body">
                                ${i.message}
                            </div>
                        </div>
                    </div>
                    `
                });
                $(".card-notification").append(newItems);
            },
            error: function(xhr, status, error){
                alert('An error occurred while fetch notifications.');
            }
        });

        const $notificationBell = $('#notification-bell');
        const $notificationScreen = $('#notification-screen');
    
        $notificationBell.on('click', function() {
            if ($notificationScreen.css('display') === 'block') {
                $notificationScreen.css('display', 'none');
            } else {
                $notificationScreen.css('display', 'block');
            }
        });

        $(".fa-xmark").on('click', function(){
            $notificationScreen.css('display', 'none');
        })
    
        // Optional: Hide the notification screen when clicking outside of it
        $(document).on('click', function(event) {
            if (!$notificationBell.is(event.target) && !$notificationBell.has(event.target).length &&
                !$notificationScreen.is(event.target) && !$notificationScreen.has(event.target).length) {
                $notificationScreen.css('display', 'none');
            }
        });

        $('#profileImage').on('click', function() {
            $('#popupMenu').slideToggle('fast');
        });
    
        $(window).on('click', function(event) {

            if (!$(event.target).closest('#profileImage').length && !$(event.target).closest('#popupMenu').length) {
                $('#popupMenu').slideUp('fast');
            }
        });
    });
</script>
{% endblock body %}