{% extends "base/base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block body %}
<div class="mainwrapper">
    <div class="side-bar">
        <div class="innerdiv">
            <h5><a href="/" style="color: rgb(38, 50, 56);">Admin</a></h5>
            <div class="side-list">
                <ul>
                    <li><a href="/backend"><i class="fa-solid fa-database me-2"></i> Developer Admin</a></li>
                    {% if is_home %}
                    <li><a href="/" class="acive-link"><i class="fa-solid fa-house me-2"></i>Home</a></li>
                    {% else %}
                    <li><a href="/"><i class="fa-solid fa-house me-2"></i>Home</a></li>
                    {% endif %}

                    {% if is_user %}
                    <li><a href="{% url "users_view" %}" class="acive-link"><i class="fa-solid fa-user me-2"></i>User</a></li>
                    {% else %}
                    <li><a href="{% url "users_view" %}"><i class="fa-solid fa-user me-2"></i>User</a></li>
                    {% endif %}

                    {% if is_offer %}
                    <li><a href="{% url "offers_view" %}" class="acive-link"><i class="fa-solid fa-receipt me-2"></i>Offers</a></li>
                    {% else %}
                    <li><a href="{% url "offers_view" %}"><i class="fa-solid fa-receipt me-2"></i>Offers</a></li>
                    {% endif %}

                    {% if is_prescription %}
                    <li><a href="{% url "prescription_view" %}" class="acive-link"><i class="fa-solid fa-prescription me-2"></i>Uploaded Prescription</a></li>
                    {% else %}
                    <li><a href="{% url "prescription_view" %}"><i class="fa-solid fa-prescription me-2"></i>Uploaded Prescription</a></li>
                    {% endif %}

                    {% if is_notification %}
                    <li><a href="{% url "notification_view" %}" class="acive-link"><i class="fa-solid fa-bell me-2"></i>Notification</a></li>
                    {% else %}
                    <li><a href="{% url "notification_view" %}"><i class="fa-solid fa-bell me-2"></i>Notification</a></li>
                    {% endif %}

                    {% if is_redeemed_offers %}
                    <li><a href="{% url "redeemed_offers_view" %}" class="acive-link"><i class="fa-solid fa-hand-holding-dollar me-2"></i>Redeemed Offers</a></li>
                    {% else %}
                    <li><a href="{% url "redeemed_offers_view" %}"><i class="fa-solid fa-hand-holding-dollar me-2"></i>Redeemed Offers</a></li>
                    {% endif %}

                    {% if is_subscription %}
                    <li><a href="{% url "subscription_view" %}" class="acive-link"><i class="fa-solid fa-money-check-dollar me-2"></i>Subscription Plans</a></li>
                    {% else %}
                    <li><a href="{% url "subscription_view" %}"><i class="fa-solid fa-money-check-dollar me-2"></i>Subscription Plans</a></li>
                    {% endif %}

                    {% if is_user_subscription %}
                    <li><a href="{% url "user_subscription_plans_view" %}" class="acive-link"><i class="fa-solid fa-calendar-check me-2"></i>User Subscription</a></li>
                    {% else %}
                    <li><a href="{% url "user_subscription_plans_view" %}"><i class="fa-solid fa-calendar-check me-2"></i>User Subscription</a></li>
                    {% endif %}

                    {% if is_eye_exam %}
                    <li><a href="{% url "eye_test_view" %}" class="acive-link"><i class="fa-solid fa-arrows-to-eye me-2"></i>Eye Test</a></li>
                    {% else %}
                    <li><a href="{% url "eye_test_view" %}"><i class="fa-solid fa-arrows-to-eye me-2"></i>Eye Test</a></li>
                    {% endif %}
                    
                    {% if is_eye_fatigue %}
                    <li><a href="{% url "eye_fatigue_view" %}" class="acive-link"><i class="fa-solid fa-eye me-2"></i>Eye Fatigue</a></li>
                    {% else %}
                    <li><a href="{% url "eye_fatigue_view" %}"><i class="fa-solid fa-eye me-2"></i>Eye Fatigue</a></li>
                    {% endif %}

                    {% if is_privacy_policy %}
                    <li><a href="{% url "privacy_policy_view" %}" class="acive-link"><i class="fa-solid fa-file-contract me-2"></i>Privacy Policy</a></li>
                    {% else %}
                    <li><a href="{% url "privacy_policy_view" %}"><i class="fa-solid fa-file-contract me-2"></i>Privacy Policy</a></li>
                    {% endif %}

                    {% if is_term_and_conditions %}
                    <li><a href="{% url "term_and_condition_view" %}" class="acive-link"><i class="fa-solid fa-handshake me-2"></i>Terms and Conditions</a></li>
                    {% else %}
                    <li><a href="{% url "term_and_condition_view" %}"><i class="fa-solid fa-handshake me-2"></i>Terms and Conditions</a></li>
                    {% endif %}
                    

                    {% if is_settings %}
                    <li><a href="{% url "settings_view" %}" class="acive-link"><i class="fa-solid fa-sliders me-2"></i>Settings</a></li>
                    {% else %}
                    <li><a href="{% url "settings_view" %}"><i class="fa-solid fa-sliders me-2"></i>Settings</a></li>
                    {% endif %}

                    {% if is_trash %}
                    <li><a href="{% url "trash_view" %}" class="acive-link"><i class="fa-solid fa-trash me-2"></i>Trash</a></li>
                    {% else %}
                    <li><a href="{% url "trash_view" %}"><i class="fa-solid fa-trash me-2"></i>Trash</a></li>
                    {% endif %}

                </ul>
                <div class="logout-wrap">
                    <a href="{% url "logout_view" %}"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="right-bar">
        <header class="header-main row">
            <div class=" header-heading col-9">
                {% block page_name %}-----{% endblock page_name %}
            </div>
            <div class="col-3">
                <div class="login-wrap">
                    <img src="{% static "img/default_user_icon.png" %}" />
                    <span class="ms-3">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                </div>
            </div>
        </header>
        {% block nav_bar %}{% endblock nav_bar %}
        {% comment %} <div class="bottomwrap">
            <div class="search-box row">
                <div class="col-5">
                    <div class="input-wrapp">
                        <input type="text" placeholder="Search by names,type and value">
                        <!-- <button>Search</button> -->
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="export col-4">
                    <ul>
                        <li class="add-btn me-3"><a>Add<i class="fa-solid fa-plus ms-2"></i> </a></button>
                            <div class="drop-downmenu">
                        <li class="ex-li"><a class="export-btn" href="#">Export<i
                                    class="fa-solid fa-file-export ms-2"></i></a>
                            <ul class="dropdown-content">
                                <li class="mb-1"><a href="#">PDF</a></li>
                                <li class="mb-1"><a href="#">Excel</a></li>
                                <li><a href="#">CSV</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div> {% endcomment %}
        <div class="right-table">
            {% block table %}
            {% endblock table %}
        </div>
    </div>
</div>
{% endblock body %}