{% extends "base/side_bar.html" %}
{% load static %}
{% block title %}Edit{% endblock title %}

{% block page_name %}Edit{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class="form-main">
        <form method="POST" id="planForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 f-lname mt-4 ckeditor-container">
                    <label class="mb-4" for="policy_content">Term and Conditions <span id="required_star">*</span></label>
                    <textarea name="policy_content" id="policy_content" cols="30"
                        rows="6">{{ term_and_condition_obj.content }}</textarea>
                    <span id="policy_content_message" style="color: red; font-weight: bold"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    CKEDITOR.replace('policy_content', {
        toolbar: USER_CONSENT_CKEDITOR,
        height: 500
    });
    $(document).ready(function () {
        CKEDITOR.instances.policy_content.on('instanceReady', function () {
            this.setReadOnly(true);
        });

    }); //document.ready
</script>

{% endblock table %}