{% extends "base/side_bar.html" %}
{% load custom_filters %}
{% block title %} Credentials {% endblock title %}
{% block page_name %}Credentials{% endblock page_name %}
{% block nav_bar %}
<div class="bottomwrap">
    <div class="search-box row">
        <div class="col-9">
            <div class="export col-3">
                <ul>
                    <li class="add-btn me-3">
                        <a href="" id="add_new_creds"><span>Add</span><i
                                class="fa-solid fa-plus ms-2"></i></a>
                    </li>
                </ul>
            </div>
    </div>
</div>
{% endblock nav_bar %}
{% block table %}
<style>

</style>
<div class="row mt-4">
    {% for creds in credentials_qs %}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ creds.name}}</h5>
                    <form id="creds_form_{{ creds.id }}" class="update-creds-form">
                        {% csrf_token %}
                        {% for key, value in creds.data.items %}
                            <label for="{{ key }}"><strong>{{key}}</strong>: <span id="required_star">*</span></label>
                            <div class="input-group mt-2 mb-2">
                                <input class="form-control card-text" type="text" name="{{ key }}" id="{{creds.pk}}-{{ key }}" value="{{ value }}">
                                <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('{{creds.pk}}-{{ key }}')">
                                    <i class="fas fa-copy"></i>
                                </button>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-primary update-creds-btn" data-id="{{ creds.id }}">Update</button>
                        <button type="button" class="btn btn-danger delete-creds-btn" data-id="{{ creds.id }}">Delete</button>
                        <p class="card-text"><strong>Last Updated:</strong> {{ creds.updated_on|format_datetime }}</p>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="addCredsModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Credentials</h5>
            </div>
            <div class="modal-body">
                <form id="addCredsForm">
                    {% csrf_token %}
                    <label for="name"><strong>Name:</strong><span id="required_star">*</span></label>
                    <input type="text" name="name" class="form-control">
                    <br>
                    <div id="inputFieldsContainer">
                        <div class="input-group mb-3">
                            <label for="key"><strong>key:</strong><span id="required_star">*</span></label>
                            <input type="text" name="key1" class="form-control" placeholder="Key">
                            <label for="key"><strong>value:</strong><span id="required_star">*</span></label>
                            <input type="text" name="value1" class="form-control" placeholder="Value">
                        </div>
                    </div>
                    <button type="button" id="addRow" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="addCredBtn">Submit</button>
                        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "base/delete_popup.html" %}

<script>
    function copyToClipboard(id) {
        var copyText = document.getElementById(id);
        var base64Value = btoa(copyText.value);
        console.log("Base64 Encoded Value:", base64Value);

        // Create a temporary input element to hold the Base64 value
        var tempInput = document.createElement("input");
        tempInput.type = "text";
        tempInput.value = base64Value;
        document.body.appendChild(tempInput);
        showToaster("Credentials copied successfully.", "alert-success");
    }

    $(document).ready(function() {
        $("#add_new_creds").click(function(event) {
            event.preventDefault();
            $("#addCredsModal").modal('show');
        });

        $(".close").click(function(event) {
            event.preventDefault();
            $("#addCredsModal").modal('hide');
        });

        // Function to add a new row of input fields
        let clicked = 1;
        $("#addRow").click(function() {
            clicked++;
            var newRow = `
            <div class="input-group mb-3">
                <label for="key"><strong>key:</strong><span id="required_star">*</span></label>
                <input type="text" name="key${clicked}" class="form-control" placeholder="Key">
                <label for="value"><strong>value:</strong><span id="required_star">*</span></label>
                <input type="text" name="value${clicked}" class="form-control" placeholder="Value">
                <button type="button" class="btn btn-danger removeRow"><i class="fa-solid fa-minus"></i></button>
            </div>`;
            $("#inputFieldsContainer").append(newRow);
        });

        // Function to remove a row of input fields
        $(document).on('click', '.removeRow', function() {
            $(this).closest('.input-group').remove();
        });

        $('#addCredBtn').click(function(e) {
            e.preventDefault();
            let isValid = true;
            let formId = "#addCredsForm";

            $(formId + ' .form-control').each(function() {
                if ($(this).hasClass("optional")) {
                    return true;
                }
                if ($(this).val().trim() === "") {
                    isValid = false;
                    $(this).addClass("is-invalid");
                } else {
                    $(this).removeClass("is-invalid");
                }
            });

            if (!isValid) {
                showToaster("Please fill out all required fields.", "alert-error");
                return;
            }

            let formData = new FormData($(formId)[0]);

            $.ajax({
                url: "{% url 'add_credentials_view' %}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.status) {
                        showToaster(response.message, "alert-success");
                        setTimeout(function() {
                            window.location.reload();
                        }, 3000);
                    } else {
                        showToaster(response.message, "alert-error");
                    }
                },
                error: function(xhr, status, error) {
                    alert("Error adding credentials!", xhr.responseText);
                }
            });
        });

        // Update credentials functionality
        $('.update-creds-btn').click(function() {
            var credsId = $(this).data('id');
            var formId = '#creds_form_' + credsId;
            var updateData = $(formId).serialize();
            console.log("updateData >>", updateData);
    
            let isValid = true;
            $(formId).find('input').each(function() {
                if ($(this).hasClass("optional")) {
                    return true;
                }
                if ($(this).val().trim() === "") {
                    isValid = false;
                    $(this).addClass("is-invalid");
                } else {
                    $(this).removeClass("is-invalid");
                }
            });
    
            if (!isValid) {
                showToaster("Please fill out all required fields.", "alert-error");
                return;
            }
    
            $.ajax({
                type: 'POST',
                url: "/credentials/update-credential/" + credsId,
                data: updateData,
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.status) {
                        showToaster(response.message, "alert-success");
                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    } else {
                        showToaster(response.message, "alert-error");
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error updating credentials:', error);
                    alert('Error updating credentials');
                }
            });
        });

        // DELETE Credentials
        
        // Delete the offer when the delete button is clicked
        let credsId = null;
        $(document).on('click', '.delete-creds-btn', function (event) {
            event.preventDefault();
            $('#dlt-btn-overlay').css('display', 'flex');
            credsId = $(this).data('id');
        });

        // Hide the delete button overlay when the cancel delete button is clicked
        $('#cancelDelete').click(function (event) {
            event.preventDefault();
            $('#dlt-btn-overlay').css('display', 'none');
        });

        // Delete the user when the confirm delete button is clicked
        $('#confirmDelete').click(function (event) {
            event.preventDefault();
            $('#dlt-btn-overlay').css('display', 'none');
            $.ajax({
                type: 'GET',
                url: "/credentials/delete-credential/" + credsId,
                success: function(response) {
                    if (response.status) {
                        showToaster(response.message, "alert-success");
                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    } else {
                        showToaster(response.message, "alert-error");
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error updating credentials:', error);
                    alert('Error updating credentials');
                }
            });
        });
    });
</script>

{% endblock table%}
