{% extends "base/side_bar.html" %}
{% load static %}
{% block title %}Edit{% endblock title %}

{% block page_name %}Edit{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class="form-main">
        <form method="POST" id="planForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 f-lname mt-4 ckeditor-container">
                    <label class="mb-4" for="policy_content">Privacy Policy<span id="required_star">*</span></label>
                    <textarea name="policy_content ck-editor-typing-field" id="policy_content" cols="30"
                        rows="6">{{ privacy_policy_obj.content }}</textarea>
                    <span id="policy_content_message" style="color: red; font-weight: bold"></span>
                </div>

                <div class="col-md-3 cancel-btn mb-4 mt-5">
                    <button type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    CKEDITOR.replace('policy_content', {
        toolbar: USER_CONSENT_CKEDITOR,
        height: 500
    });

    $(document).ready(function () {
        $('#planForm').submit(function (event) {
            event.preventDefault();

            // Update all CKEditor instances
            for (const instanceName in CKEDITOR.instances) {
                CKEDITOR.instances[instanceName].updateElement();
            }

            let isValid = true;
            const policy_content = $('#policy_content').val().trim();

            if (!policy_content) {
                isValid = false;
                $("#policy_content_message").text("Content is required")
            }

            if (isValid) {
                $.ajax({
                    url: "{% url 'edit_privacy_policy_view' privacy_policy_obj.pk %}",
                    method: "POST",
                    data: {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        policy_content: policy_content
                    },
                    success: function (response) {
                        if (response.status) {
                            showToaster(response.message, "alert-success")
                            setTimeout(function () {
                                window.location.href = "{% url 'privacy_policy_view' %}";
                            }, 2000);
                        } else {
                            showToaster(response.message, "alert-error")
                        }
                    },
                    error: function (response) {
                        alert('An error occurred while updating the plan');
                    }
                });
            }
        });
    });
</script>

{% endblock table %}