{% extends "base/side_bar.html" %}
{% load static %}
{% block title %}Add Business{% endblock title %}

{% block page_name %}Add Business{% endblock page_name %}
{% block table %}

<div class="right-table1">
    <div class=" form-main">
        <form id="addBusinessForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label for="name">Name<span id="required_star">*</span></label>
                    <input type="text" name="name" id="name" class="form-control" />
                </div>

                <div class="col-md-4 f-name mt-4">
                    <label for="email">Email<span id="required_star">*</span></label>
                    <input type="text" name="email" id="email" class="form-control" />
                </div>

                <div class="col-md-4 f-name mt-4">
                    <label for="phone_number">Phone Number<span id="required_star">*</span><i>(with country code)</i></label>
                    <input type="number" name="phone_number" id="phone_number" class="form-control" />
                </div>

                <div class="col-md-4 f-name mt-4 select-wrapp">
                    <label for="status">Status <span id="required_star">*</span></label>
                    <select name="status" id="status" class="form-control">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>

                <div class="col-md-3 cancel-btn mb-4 mt-5">
                    <button type="submit" class="btn btn-primary save-btn">Save</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('#status').select2({
                placeholder: "Select Status",
                minimumResultsForSearch: Infinity
            });

            $("#addBusinessForm").submit(function (event) {
                event.preventDefault(); // Prevent the form from submitting via the browser

                // Perform client-side validation
                let isValid = true;
                $(".form-control").each(function () {
                    if ($(this).hasClass("optional")) {
                        return true;
                    }
                    if ($(this).val().trim() === "") {
                        isValid = false;
                        $(this).addClass("is-invalid");
                    } else {
                        $(this).removeClass("is-invalid");
                    }
                });

                if (!isValid) {
                    showToaster("Please fill out all required fields.", "alert-error");
                    return;
                }

                // If valid, proceed with AJAX submission
                let formData = new FormData(this);

                $.ajax({
                    url: "{% url 'business_add_view' %}",
                    type: "POST",
                    data: formData,
                    processData: false,  // Important!
                    contentType: false,  // Important!
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    success: function (response) {
                        if (response.status) {
                            showToaster(response.message, "alert-success");
                            setTimeout(function () {
                                window.location.href = "business-listing";
                            }, 2000);
                        } else {
                            showToaster(response.message, "alert-error");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        const response = xhr.responseJSON
                        showToaster(response.message, "alert-error");
                    }
                });
            });

        }); //document.ready
    </script>

    {% endblock table%}