{% extends "base/side_bar.html" %}
{% load static %}
{% block title %}Edit Business{% endblock title %}

{% block page_name %}Edit Business{% endblock page_name %}
{% block table %}
<div class="right-table1">
    <div class=" form-main">
        <form id="editBusinessForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 f-name mt-4">
                    <label for="name">Name<span id="required_star">*</span></label>
                    <input type="text" name="name" id="name" class="form-control" value="{{business.name}}"/>
                </div>

                <div class="col-md-4 f-name mt-4">
                    <label for="email">Email<span id="required_star">*</span></label>
                    <input type="text" name="email" id="email" class="form-control" value="{{business.user.email}}" />
                </div>

                <div class="col-md-4 f-name mt-4">
                    <label for="phone">Phone Number<span id="required_star">*</span></label>
                    <input type="tel" name="phone" id="phone" class="form-control" value="{{business.user.phone_number}}"/>
                </div>

                <div class="col-md-4 f-name mt-4 select-wrapp">
                    <label for="status">Status <span id="required_star">*</span></label>
                    <select name="status" id="status" class="form-control">
                        <option {% if business.user.is_active %}selected{% endif %} value="active">Active</option>
                        <option {% if not business.user.is_active %}selected{% endif %} value="inactive">Inactive</option>
                    </select>
                </div>

                <div class="col-md-3 cancel-btn mb-4 mt-5">
                    <button type="submit" class="btn btn-primary save-btn">Save</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('#status').select2({
                placeholder: "Select Status",
                minimumResultsForSearch: Infinity
            });

            $("#editBusinessForm").submit(function (event) {
                event.preventDefault();
                toggleLoader(true);
                let name = $("#name").val();
                let email = $("#email").val();
                let phone = $("#phone").val();
                let status = $("#status").val();
                let isValid = true;
                
                // Perform client-side validation
                if (!name) {
                    showError("#name", "Name is required.")
                    isValid = false;
                }else{
                    showError("#name", "");
                }

                if (!email) {
                    showError("#email", "Email is required..")
                    isValid = false;
                }else if (!validateEmail(email)){
                    showError("#email", "Invalid email address.");
                    isValid = false;
                }else{
                    showError("#email", "");
                }

                if (!phone) {
                    showError("#phone", "Phone is required.");
                    isValid = false;
                } else if (!validatePhoneNumber(phone)) {
                    showError("#phone", "Invalid phone number.");
                    isValid = false;
                } else {
                    showError("#phone", "");
                }

                if (!status) {
                    $("#status").after('<span class="error-message text-danger">Status is required.</span>');
                    isValid = false;
                }

                if(!isValid) {
                    toggleLoader(false);
                    return;
                }

                // If valid, proceed with AJAX submission
                let formData = new FormData(this);

                $.ajax({
                    url: "{% url 'business_edit_view' business.id %}",
                    type: "POST",
                    data: formData,
                    processData: false,  // Important!
                    contentType: false,  // Important!
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    success: function (response) {
                        if (response.status) {
                            showToaster(response.message, "alert-success");
                            setTimeout(function () {
                                window.location.href = "{% url 'business_view' %}";
                            }, 2000);
                        } else {
                            showToaster(response.message, "alert-error");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        const response = xhr.responseJSON
                        showToaster(response.message, "alert-error");
                    },
                    complete: function() {
                        toggleLoader(false);
                    }
                });
            });

        }); //document.ready
    </script>

    {% endblock table%}