{% extends "base/side_bar.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block page_name %}Home{% endblock page_name %}
{% block table %}

<div class="right-table1">
    <div class=" home-main row">
        <a href="{% url "users_view" %}"  class="col-4">
            <div  class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/group.png' %}" />
                </div>
                <div>
                    <h4>{{ total_users }}</h4>
                    <span>Users</span>
                </div>
            </div>
        </a>
       
        <a href="{% url "eye_test_view" %}"  class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/eye-exam.png' %}" />
                </div>
                <div>
                    <h4>{{ total_eye_tests }}</h4>
                    <span>Eye Test</span>
                </div>
            </div>
        </a>
   

        <a href="{% url "eye_fatigue_view" %}"  class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/eye-test.png' %}" />
                </div>
                <div>
                    <h4>{{ total_eye_fatigue_test }}</h4>
                    <span>Fatigue Test</span>
                </div>
            </div>
        </a>
    </div>
    <div class="row home-main mt-4">
        
        <a href="{% url 'offers_view' %}?offer_status_filter=inactive"  class="col-4">

            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/discount.png' %}" />
                </div>
                <div>
                    <h4>{{ total_inactive_offers }}</h4>
                    <span>Inactive Offers</span>
                </div>
            </div>
        </a>

        <a href="{% url 'offers_view' %}?offer_status_filter=active"  class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/discount.png' %}" />
                </div>
                <div>
                    <h4>{{ total_active_offers }}</h4>
                    <span>Active Offers</span>
                </div>
            </div>
        </a>

        <a href="{% url 'offers_view' %}?offer_status_filter=expired"  class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/discount.png' %}" />
                </div>
                <div>
                    <h4>{{ total_expired_offers }}</h4>
                    <span>Expired Offers</span>
                </div>
            </div>
        </a>
    </div>
    <div class="row home-main mt-4">
        <a href="{% url 'prescription_view' %}?status_filter=pending"  class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/prescription.png' %}" />
                </div>
                <div>
                    <h4>{{ total_pending_prescriptions }}</h4>
                    <span>Pending Prescription</span>
                </div>
            </div>
        </a>
        <a href="{% url 'prescription_view' %}?status_filter=rejected"  class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/prescription.png' %}" />
                </div>
                <div>
                    <h4>{{ total_rejected_prescriptions }}</h4>
                    <span>Rejected Prescription</span>
                </div>
            </div>
        </a>
        <a href="{% url 'prescription_view' %}?status_filter=approved"  class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/prescription.png' %}" />
                </div>
                <div>
                    <h4>{{ total_approved_prescriptions }}</h4>
                    <span>Approved Prescription</span>
                </div>
            </div>
        </a>

        <a href="{% url "redeemed_offers_view" %}?status_filter=approved"  class="col-4 mt-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/box.png' %}" />
                </div>
                <div>
                    <h4>{{ approved_total_redeemed_offers }}</h4>
                    <span>Approved Redeemed Offers</span>
                </div>
            </div>
        </a>
        <a href="{% url "redeemed_offers_view" %}?status_filter=pending"  class="col-4 mt-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/box.png' %}" />
                </div>
                <div>
                    <h4>{{ pending_total_redeemed_offers }}</h4>
                    <span>Pending Redeemed Offers</span>
                </div>
            </div>
        </a>
        <a href="{% url "redeemed_offers_view" %}?status_filter=rejected"  class="col-4 mt-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static 'icons/home/box.png' %}" />
                </div>
                <div>
                    <h4>{{ rejected_total_redeemed_offers }}</h4>
                    <span>Rejected Redeemed Offers</span>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock table %}