{% extends "base/side_bar.html" %}
{% block title %}
Dashbord
{% endblock title %}
{% block page_name %}Home{% endblock page_name %}
{% block table %}
<table>
    <tr>
        <th>Sr.No</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
        <th>Country</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>7</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>8</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>9</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
    <tr>
        <td>10</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
        <td>
            <a href="#"><i class="fa-solid fa-trash-can me-2"></i></a>
            <a href="#"><i class="fa-solid fa-pen me-2"></i></a>
            <a href="#"> <i class="fa-regular fa-eye"></i></a>
        </td>
    </tr>
</table>
{% endblock table %}