{% extends "base/side_bar.html" %}
{% load static %}
{% block title %}
Dashbord
{% endblock title %}
{% block page_name %}Home{% endblock page_name %}
{% block table %}

<div class="right-table1">
    <div class="row">
        <div class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static "icons/group.png" %}" />
                </div>
                <div>
                    <h4>{{ total_users }}</h4>
                    <span>Total Users</span>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static "icons/discount.png" %}" />
                </div>
                <div>
                    <h4>{{ total_offers }}</h4>
                    <span>Total Offers</span>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4"  src="{% static "icons/box.png" %}" />
                </div>
                <div>
                    <h4>{{ total_redeemed_offers }}</h4>
                    <span>
                        Total Redmeed Offers
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4"  src="{% static "icons/prescription.png" %}" />
                </div>
                <div>
                    <h4>
                        {{ total_prescriptions }}
                    </h4>
                    <span>
                        Total Prescription Uploaded
                    </span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4"  src="{% static "icons/eye-exam.png" %}" />
                </div>
                <div>
                    <h4>{{ total_eye_tests }}</h4>
                    <span>
                        Total Eye Test
                    </span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="list-box">
                <div>
                    <img class="me-4" src="{% static "icons/eye-test.png" %}" />
                </div>
                <div>
                    <h4>{{ total_eye_fatigue_test }}</h4>
                    <span>
                        Total Fatigue Test
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock table %}